body{
    background: linear-gradient(126.07deg, #FFFFFF 6.7%, #E3E3E3 98.36%);
  }
  .search-button-bg{
    background-color: #4285F4;
    color: #fff;
  }
  .search-button-bg:hover{
    background-color: #4285F4;
    color: #fff;
    opacity: 1;
  }
  .search-button-bg:focus{
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #2557a7f2 !important; 
  }
  .contact-icons {
    width: 55px;
    height: 55px;
    padding: 13.5px 16px;
    align-items: center;
    box-shadow: 2px 0px 55px 0px #00000029;
    justify-content: center;
    display: inline-flex;
    border-radius: 30px;
    font-size: 22px !important;
  }
  .address-img.contact-icons {
    background: #F9F9F9;
  }
  .phone-img.contact-icons {
    background: #E1FFE9;
  }
  .email-img.contact-icons {
    background: #F9F9F9;
  }
  .fa-paper-plane{
    padding: 13.5px 12px !important;
  }
  .fa-map-marker{
   padding: 13.5px 18px !important;

  }
  .contactinf .email{
    padding-left: 3rem;
  }
 
  .contactinf a{
    color:#000 !important;
  }
 
  .contactinf h3{
    display: none;
  }
.first_shjb img{
  position: absolute;
  left: 0px;
  top: 50px;
  width: 140px;
}.jhn_uywq{
  width: 100%;
  --bs-gutter-x: 0rem;
}

.curvw_mhaw1 {
  position: relative;
  overflow: hidden;
  height: 95%;
  background: linear-gradient(135.78deg, #E9F1FF -0.96%, #FFFFFF 102.06%);
}.curvw_mhaw1::after {
  content: "";
  position: absolute;
  width: 0;
  border: 15px solid transparent;
}.curvw_mhaw1::after {
  border-bottom: 615px solid transparent;
  border-right: 185px solid #f3f3f3;
  right: 0;
  bottom: 0;
}
.curvw_mhaw2 {
  position: relative;
  z-index: 1;
}.cnts_nhj{
  margin-left: 130px;
}.submit_jnhb{
  width: 80%;
  margin: 0 auto;
}.cnts_nhj .hjobgw{
  margin-bottom: 3.5rem;
}








  @media (max-width: 1200px)
  {
    /* .main .container-fluid{
        background-size: 11% 59%;
    } */
    .contactinf {
        padding-top: 1.5rem;
    }
  }
  @media (max-width: 992px)
  {
    /* .main .container-fluid{
        background-size: 13% 54%;
    } */
    .main{
      background-size: 12% 90%;
    }
    .contactinf{
        padding-left: 0rem;
        padding-top: 3.5rem;
    }
  }
  @media(max-width: 850px) and (min-width: 769px)
  {
    .contactinf .mb-4{
        margin-bottom: 0rem!important;
    }
    .contactinf span.m-3, .contactinf span.my-3{
      margin: 7px !important;
    } 
  }
  @media(max-width: 850px)
  {  
    .main{
      background: none;
    }
    .contactinf .email
    {
        padding-left: unset;
        margin-left: unset;
    }
    .contactinf{
        padding-top: 2rem;
    }
  }
  
  @media (max-width: 768px)
  {
    .contactinf{
        padding: unset;
        margin: unset;
    }
    .contactdet{
        padding: 2rem 0rem;
    }
    .contactinf h3{
      display: block;
    }
    .contactinf .mt-5 {
      margin-top: 2rem!important;
    }
  }
  #contact-form h3 {
    text-align: center;
  }

  @media screen and (max-width: 575px){

    .contactdet{
      padding: 2rem 2rem;
    }
    #contact-form h3{
      font-size: 1.5rem;
    }
    
  }