/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Pre css */
.flex {
  display: flex;
  align-items: center;
}

.nav_image {
  display: flex;
  min-width: 55px;
  margin-left: 3px;
  /* justify-content: center; */
}
.nav_image img {
  /* height: 35px; */
  /* width: 80%; */
  /* border-radius: 50%; */
  object-fit: cover;
}
.nav_image #sidebar_logo_image {
  transform: translateX(-35%);
}
#sidebar_logo{
  margin-top: 25px;
  opacity: 0;
  transition: all 0.4s ease;
}
.close #sidebar_logo
{
  opacity: unset !important;
}
.close .nav_image img
{
  opacity: 0;
  transition: all 0.4s ease;
}


/* Sidenavbar */
.sidenavbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 270px;
  font-weight: 400 !important;
  margin-top: unset !important;
  color: #fff;
  padding: 15px 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
  background: linear-gradient(172deg, rgba(39,98,194,1) 20%, rgba(48,86,149,1) 55%);
}
.main-header .header-open{
  transition: all 0.4s ease;
  left: 270px;
  background-color: #fff0 !important;
}
.main-header .header-close{
  transition: all 0.4s ease;
  left: 75px;  
}
.main-header .header-unset{
  transition: all 0.4s ease;
  left: 0;    
}

.main-header .header-open .img-fluid{
  transform: translateX(-50%);
  transition: all 0.3s ease;
}
.main-header .header-open .img-fluid{
  opacity: 0;
}
.sidenavbar.close {
  width: calc(55px + 20px);
}
.logo_items {
  gap: 8px;
  margin-top: -33px;
}
.logo_name {
  font-size: 22px;
  color: #333;
  font-weight: 500px;
  transition: all 0.3s ease;
}
.sidenavbar.close .logo_name,
.sidenavbar.close #lock-icon,
.sidenavbar.close #sidenavbar-close {
  /* opacity: 0; */
  /* pointer-events: none; */
}

#lock-icon{
  padding: 10px;
  color: #4070f4;
  font-size: 20px;    
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0px;
}#locked-icon {
  padding-right: 15px;
  color: #4070f4;
  font-size: 22px;    
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0px;
}
#sidenavbar-close {
  padding: 10px;
  color: #4070f4;
  font-size: 25px;    
  margin-top: 20px;
  margin-left: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
#sidenavbar-close {
  display: none;
  color: #333;
}
.menu_container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* margin-top: 40px; */
  overflow-y: auto;
  height: calc(100% - 82px);
  margin-right: -10px;

}
.menu_container::-webkit-scrollbar {
  display: none;
}
.menu_items ul{
  padding: unset;
}
.menu_title {
  position: relative;
  height: 50px;
  width: 55px;
}
.menu_title .title {
  margin-left: 15px;
  transition: all 0.3s ease;
  color:#fff;
}
.sidenavbar.close .title {
  opacity: 0;
}
.menu_title .line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 20px;
  border-radius: 25px;
  background: #aaa;
  transition: all 0.3s ease;
}
.menu_title .line {
  opacity: 0;
}
.sidenavbar.close .line {
  opacity: 0;
}
.item {
  list-style: none;
}
.link {
  text-decoration: none;
  border-radius: 25px 0px 0px 25px;
  margin-bottom: 8px;
  color: #fff;
}
.link:hover, .link.active{
  color: #305695;
  background-color: #FFFFFF;
}
.link:hover > img, .link.active img
{
  filter: invert(76%) sepia(30%) saturate(3461%) hue-rotate(179deg) brightness(98%) contrast(91%);
}
.link span {
  white-space: nowrap;
}
.link i {
  height: 50px;
  min-width: 55px;
  display: flex;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.link img {
  margin: 10px 15px 10px 15px;
  display: flex;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.sidenavbar_profile {
  padding-top: 15px;
  margin-top: 15px;
  gap: 15px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.sidenavbar_profile .name {
  font-size: 18px;
  color: #333;
}
.sidenavbar_profile .email {
  font-size: 15px;
  color: #333;
}

/* Navbar */
/* .navbar {
  max-width: 500px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 60%;
  transform: translateX(-50%);
  background: #fff;
  padding: 10px 20px;
  border-radius: 0 0 8px 8px;
  justify-content: space-between;
} */
#sidenavbar-open {
  font-size: 30px;
  color: #333;
  cursor: pointer;
  margin-right: 20px;
  display: none;
}
.search_box {
  height: 46px;
  max-width: 500px;
  width: 100%;
  border: 1px solid #aaa;
  outline: none;
  border-radius: 8px;
  padding: 0 15px;
  font-size: 18px;
  color: #333;
}
/* .navbar img {
  height: 40px;
  width: 40px;
  margin-left: 20px;
} */

.main-panel-custom{
  width: calc(100% - 290px);
}
.main-panel-customize{
  width: calc(100% - 75px);
}
/* .img-fluid{
  display: none;
} */
.sidenavbar .card {
  padding:1px;
  margin-right: 9px;
}

.collapses .link i{
  height: 46px;
  min-width: 55px;
}

.collapses .link{
  color:#305695;
}
.collapses .link:hover, .collapses .link.active{
  margin-left: 5px !important;
  margin-right: -1px !important; 
  color: #fff;
  background-color: #4070f4;  
}
.collapses .link img {
  filter: invert(76%) sepia(30%) saturate(3461%) hue-rotate(179deg) brightness(98%) contrast(91%)
}
.collapses .link span {
  color: #305695;
  font-weight: 500;
}
.collapses .link:hover > i {
  min-width: 46px;
}
.collapses .link.no_fillfield img {
  filter: invert(.47);
}
.collapses .link.no_fillfield span {
    color: #717171;
    font-weight: 500;
}
.collapses .link:hover > img, .collapses .link.active > img{
  filter: brightness(0) invert(1);
}
.collapses .link:hover > span, .collapses .link.active > span{
  color:#fff;
  /* font-weight: 500; */
}
.sidenavbar.close .collapses .link:hover > img ,  .sidenavbar.close .collapses .link.active > img{
  margin: 10px 10px;
}

.sidenavbar .user{
  margin: 12px 0px 0px -8px !important;
}
/* .sidenavbar .dropdown-toggle{
  font-size: 12px;
} */
.sidenavbar.close span{
  transform: translateX(-50%);
  transition: all 0.4s ease;
}
.sidenavbar.close span{
  opacity: 0;
}
.sidenavbar.close [role="progressbar"] {
  --size: 45px;
  transform: translateX(1%);
  transition: all 0.4s ease;
}
.sidenavbar .card{
  border-radius: 10px;
}
.sidenavbar .user span{
  color:#000;
  margin-left: 10px !important;
  text-wrap: nowrap;
}
.sidenavbar .user .completion{
  font-size: 15px;
}
.sidenavbar .user .email{
  display: -webkit-inline-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 180px;
}
.sidenavv-toggler {
  /* background: linear-gradient(172deg, rgba(39,98,194,1) 20%, rgba(48,86,149,1) 55%); */
  /* padding: 19px 15px 19px 15px; */
  /* border-radius: unset; */
}

/* Responsive */
@media screen and (max-width: 1100px) {
  /* .navbar {
    left: 65%;
  } */
}
@media screen and (max-width: 800px) {
 
  .sidenavbar {
    left: 0;
    z-index: 1000;
  }
  .navbar {
    left: 0;
    max-width: 100%;
    transform: translateX(0%);
  }
    
  .main-header .header-open{
    transition: unset;
    left: 0px;
    background-color: #fff0 !important;
    box-shadow:none !important
  }
  .header-open #lock-icon,.header-open #locked-icon{
    padding-left: 270px !important;
    color: #FFFFFF;
  }
  /* .navbar {
    left: 0;
    max-width: 100%;
    transform: translateX(0%);
  } */
  /* .sidenavbar.close {
    left: -100%;
  } */
}
@media screen and (max-width: 600px) {
  .main-panel-customize {
    width: 100%;
  }
  #sidenavbar-close {
    opacity: 0;
  }
  .sidenavbar.close {
    transform: translateX(-100px);
  }
  /* .main-header .header-close{
    left:0px;
  } */
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background: rgba(0,0,0,.3);
  z-index: 11;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%); 
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
}
.overlay.active{
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}