 
/bootstrap/cache
/config/*
/cache/*.key
/node_modules
/public/hot
/public/site_assets_1/assets/img/profile_image
/public/storage
/storage/*.key
/storage/app
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
error-log
/employer.mugaam.com
/admin