/* style.min.css */



/* atlantis.min.css */
.b,.mail-wrapper .mail-content .inbox-body .email-list .email-list-item.unread .email-list-detail .from,.page-title,.sidebar .nav-collapse li.active>a,.sidebar[data-background-color=white] .nav-collapse li.active>a,.strong,b,strong {
    font-weight: 600
}

.wrapper,body {
    min-height: 100vh
}

.breadcrumbs li a i,body {
    font-size: 16px
}

:focus {
    outline: 0!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}

.alert,.brand,.btn-simple,.h1,.h2,.h3,.h4,.h5,.h6,.navbar,.td-name,a,body,button.close,h1,h2,h3,h4,h5,h6,p,td {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

.card-profile,.sidebar .nav>.nav-item a[data-toggle=collapse][aria-expanded=true] p,.sidebar[data-background-color=white] .nav>.nav-item a[data-toggle=collapse][aria-expanded=true] p,body,body[data-background-color=dark] .board {
    color: #575962
}

.accordion.accordion-primary .card .card-header,.card-pricing2.card-primary .value,.nav.nav-line.nav-color-primary .nav-link:focus,.nav.nav-line.nav-color-primary .nav-link:hover,.quick-actions.quick-actions-primary .quick-actions-item,a {
    color: #1572e8
}

a:focus,a:hover {
    color: #1269db
}

.h1,h1 {
    font-size: 1.725rem
}

.h2,h2 {
    font-size: 1.35rem
}

.h3,h3 {
    font-size: 1.1625rem
}

.h4,h4 {
    font-size: 1.0375rem
}

.h5,h5 {
    font-size: .9125rem
}

.h6,h6 {
    font-size: .825rem
}

p {
    font-size: 14px;
    line-height: 1.62;
    word-break: break-word
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    line-height: 1.4
}

.h1 a,.h2 a,.h3 a,.h4 a,.h5 a,.h6 a,body[data-background-color=dark] .list-group .list-group-item-text,body[data-background-color=dark] .list-group-messages .list-group-item-title a,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
    color: inherit
}

.card-tasks .card-body .table td,.dropdown-item,.mail-wrapper .mail-content .inbox-body .email-list .email-list-item .email-list-detail .from,.quick-actions .quick-actions-header .subtitle,.small,small {
    font-size: 13px
}

label {
    color: #212529!important;
    font-size: 16px!important;
    font-weight: 400;
    margin-bottom: 0
}
.fw-bold {
    font-weight: 600!important
}
.wrapper {
    position: relative;
    top: 0;
    height: 100vh
}

.main-header {
    z-index: 1046;
    min-height: 60px
}

.breadcrumbs li a:hover,.logo-header .big-logo:hover,.logo-header .logo:hover,.mail-wrapper .mail-content .email-attachments ul li a:hover,.page-with-aside .page-aside .aside-nav .nav>li>a:focus,.page-with-aside .page-aside .aside-nav .nav>li>a:hover,.profile-pic:focus,.profile-pic:hover,.quick-actions a:hover,.sidebar .nav>.nav-item a:focus,.sidebar .nav>.nav-item a:hover,.sidebar .user .info a:focus,.sidebar .user .info a:hover,.sidebar[data-background-color=white] .nav>.nav-item a:focus,.sidebar[data-background-color=white] .nav>.nav-item a:hover,.sidebar[data-background-color=white] .user .info a:focus,.sidebar[data-background-color=white] .user .info a:hover {
    text-decoration: none
}

.footer,.page-sidebar {
    position: absolute;
    width: 100%
}

.footer {
    border-top: 1px solid #eee;
    padding: 15px;
    background: #fff
}
.avatar-sm {
    width: auto;
    height: 2.5rem
}
.card,.card-light {
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 2px 6px 15px 0 rgba(69,65,78,.1);
    -moz-box-shadow: 2px 6px 15px 0 rgba(69,65,78,.1);
    box-shadow: 2px 6px 15px 0 rgba(69,65,78,.1);
    border: 0
}

.accordion.accordion-danger .card .card-header,.accordion.accordion-danger .card .card-header .btn-link,.accordion.accordion-default .card .card-header,.accordion.accordion-default .card .card-header .btn-link,.accordion.accordion-info .card .card-header,.accordion.accordion-info .card .card-header .btn-link,.accordion.accordion-primary .card .card-header,.accordion.accordion-primary .card .card-header .btn-link,.accordion.accordion-secondary .card .card-header,.accordion.accordion-secondary .card .card-header .btn-link,.accordion.accordion-success .card .card-header,.accordion.accordion-success .card .card-header .btn-link,.accordion.accordion-warning .card .card-header,.accordion.accordion-warning .card .card-header .btn-link,.form-control {
    font-size: 14px
}
.form-control {
    border-color: #ccc;
    height: inherit!important
}
.hidden-caret .dropdown-toggle::after {
    display: none!important
}

.profile-pic span {
    font-size: 13px;
    font-weight: 300;
    padding: 0 10px;
    color: #555
}
.dropdown-menu {
    border: 0;
    border-radius: 3px;
    box-shadow: 0 1px 11px rgba(0,0,0,.15)!important;
    padding-bottom: 8px;
    margin-top: 3px
}

.dropdown-user {
    width: 210px
}
.btn,.btn-lg {
    border-radius: 3px
}
.btn {
    padding: .6rem 1.4rem;
    font-size: 14px;
    opacity: 1
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}

.bg-primary,.timeline-badge.primary {
    background-color: #1572e8!important
}

@media screen and (max-width: 767px) {

    .dropdown-user .dropdown-user-scroll {
        max-height: calc(100vh - 132px)
    }
    .main-header,.main-panel,.navbar-header,.sidebar {
        transition: .5s
    }
    .nav-toggle,.profile-pic span {
        display: none
    }
    body,body[data-background-color=bg1] {
        background: #f9fbfd
    }
}
/* From user_skill.css */
.form-check label,.form-group label,.fw-bolder,form label {
    font-weight: 400!important
}

#abt_meusr label.form-check-label,#language_knwn label.form-label,#my_expernce2 label.form-label,.modal label.form-label,label {
    font-weight: 500!important
}

/* From custom_style.css */
.image-size{
    width: 17px;
}

.header,.header .header-scrolled{
    padding: 0px 0 !important;
}

.wizard-tab ul .nav-item .nav-link.active{
    border-bottom: 2px solid #2762c2 !important;
    color: black !important;
    background-color: unset !important;
    border-radius: unset !important;
    font-weight: 500;
}
    
.wizard-tab ul .nav-item .nav-link{
    border: unset !important;
    margin: unset !important;
    padding-top: unset !important;
    padding-bottom: unset !important;
}

.wizard-tab{
    background-color: #F3F7FE !important;
}

#navbar{
    /* margin-top: 10px; */
    flex-flow: row-reverse;
    /* padding-right: 25px; */
}
    
#page-container {
    position: relative;
    min-height: auto!important
}
.bg-color-blue{
    /* background-color: #629AF6 !important; */
    background-color: #fff !important;
}
.main-header{
    background-color:unset !important;
}

table{
    border-collapse: unset !important;
}
.dropdown .progressbar, .user .progressbar {
    --percentage: var(--value);
    --secondary: rgb(241, 243, 245);
    --primary: #00D599;
    --size: 60px;
    animation: progress 2s 0.5s forwards;
    width: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;
    font-size: 12px;
    margin-left: 12px;
    transition: all 0.4s ease;  
    font-weight: 600;
    }
    
    .dropdown .progressbar::before, .user .progressbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: conic-gradient(var(--primary) calc(var(--percentage) * 1%), var(--secondary) 0);
    mask: radial-gradient(white 55%, transparent 0);
    mask-mode: alpha;
    -webkit-mask: radial-gradient(#0000 60%, #000 0);
    -webkit-mask-mode: alpha;
    }
        
    .pending [role="progressbar"]
    {  
    --primary: #ffc800;
    }

    .completed [role="progressbar"]
    {  
    --primary: #00D599;
    }

    .web-nav [role="progressbar"]
    {  
    --size: 52px;
    margin-left: 0px;
    }
    .navbar .dropdown ul .user a{
    padding: 10px 12px 0px 16px;
    cursor: default !important;
    }

    .navbar .dropdown ul .user .completion{
    font-size: 14px;
    }

    .navbar .dropdown ul hr{
    color: #cbc6c6;
    margin: 10px 20px;
    }
    
/* From userbasic.w2fr4ha2.css */

.typeahead, .tt-query, .tt-hint {
    border: 1px solid #CCCCCC;
    border-radius: .25rem;
    font-size: 14px; /* Set input font size */
    /* height: 30px; */
    line-height: 24px;
    /* outline: medium none; */
    padding: 0.6rem 1rem;
    width: 100%;
}
.typeahead {
    background-color: #FFFFFF !important;
}
.form-control-2 {
    border-color: #ccc;
    height: inherit!important;
}
.form-control-2 {
    display: block;
    width: 100%;
    padding: 0.6rem 1rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid lightgrey;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*  */
#homepage_stn .hm_gr h3, #homepage_stn strong.fw-bolder, .hmenear_job p {
    text-transform: capitalize;
}
.candpcard .fw-bolder, .hmenear_job .renty_pocdd .carousel h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 700!important;
    font-size: 16px;
}
#homepage_stn h3 span {
    font-weight: 200;
}
.hme_banner .jhotyp_jh button {
    background: #4285f4;
    padding: 15px 150px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin-top: 15px;
    text-transform: uppercase;
    border-radius: 4px;
}
.hme_banner h3 strong {
    font-size: 20px;
}
.hmenear_job h1 {
    font-size: 20px;
    font-weight: 600;
}
#homepage_stn .hmenear_job h2 {
    font-weight: 600;
    font-size: 24px;
}
.hmenear_job h3 {
    font-weight: 400;
}
.pfcmpletalert {
    background: #f6f6f6;
    margin: 0 auto;
    position: absolute;
    padding: 0;
    border-radius: 6px;
    box-shadow: 1px 1px 14px 0 rgb(18 38 63 / 20%)!important;
    right: 30px;
    top: 70px;
    z-index: 99;
}
.pfcmpletalert .wrning {
    background: #d0def5;
    height: 60px;
    clip-path: polygon(0% 0%, 0% 280%, 100% 0%);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.pfcmpletalert .wrning img {
    margin-right: 10px;
    padding-top: 6px;
}
.alert-dismissible .btn-close {
    top: 3px;
}
.pfcmpletalert span {
    font-size: 13px;
}
.reserch h3 {
    font-weight: 600;
}
.search_hme .sarchtopcrad {
    position: absolute;
    bottom: 30px;
    width: 85%}
.search_hme {
    position: relative;
    height: 250px;
    z-index: 10;
}
.hme_banner .jhotyp_jh {
    margin-bottom: -70px;
    z-index: 15;
    position: relative;
}
.search_hme .dropdown-item:hover {
    color: #1e2125;
    background-color: #4285f438;
}
.search_hme .dropdown-item {
    padding-top: 5px;
    padding-bottom: 5px;
}
.search_hme .typeahead.dropdown-menu {
    padding: 0;
    border-radius: 0;
    margin-top: 0;
    border: 1px solid #cccccc82;
    border-top: none;
}
.designation .typeahead.dropdown-menu {
    margin-right: 54%!important;
}
.search_hme .mob {
    display: none;
}
.search_hme .btn_c_se {
    color: #fff;
    padding: .8rem .9rem .6rem 1.5rem;
    font-size: 18px!important;
}
.popularser_card {
    border-radius: 10px!important;
    padding: 25px 0;
    background-color: #f8f8f8;
}
.popularser_card h3 {
    border-bottom: 2px solid #4285f47a;
    padding-bottom: 5px;
    width: 13%;
    font-weight: 600;
    margin: 0 auto;
    font-size: 17px;
}
.hme_banner .kjnhj_jkeq {
    padding-top: 3.5rem;
}
.hme_banner {
    /* background: url('../../../../images/home/img.png') 0 0/cover no-repeat; */
}
.reserch .titsearch {
    border: 1px solid #4285f4c7;
    border-radius: 50px;
    margin-right: 15px;
    padding: 3px 15px 5px;
}
.reserch .text_ygb img, .reserch .text_ygb span {
    margin-right: 3px;
    margin-left: 3px;
    font-size: 13px!important;
}
.reserch {
    margin-bottom: 40px;
}
.reserch .text_ygb {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
.popularser_card .plerhvr img {
    width: 7px;
    margin-left: 7px;
    margin-bottom: 1px;
}
.popularser_card label {
    font-size: 14px!important;
    font-weight: 400!important;
    margin: 1rem 2rem;
    padding: .4rem 1rem;
    background-color: #fff;
}
.jh_ubvgqe1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.jh_ubvgqe2 {
    position: absolute;
    width: 20%;
    height: 2px!important;
    color: #4285f4;
}
.candimg_parent .jhn_trsw {
    font-weight: 300!important;
}
.candimg_col h2.fw-bolder {
    font-weight: 700!important;
    font-size: 16px;
    text-transform: uppercase;
    color: #4285f4;
}
.candimg_parent .arrow img {
    width: 60px;
}
.hmenear_job .card {
    box-shadow: 0 0 4px 0 #00000040!important;
    border-radius: 4px!important;
}
#homepage_stn .hm_gr h3 {
    font-weight: 600;
    font-size: 16px;
}
.hmenear_job #passbtn {
    cursor: pointer;
    width: 11px;
}
.renty_pocdd h3.fw-bold {
    margin: 8px;
    font-size: 21px;
}
.hmenear_job .carousel h3 {
    font-weight: 600;
    font-size: 16px;
}
.hmenear_job .renty_pocdd .carousel h3 {
    color: #4a545a;
    text-transform: capitalize;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 45px!important;
    align-items: center;
    display: flex;
}
.renty_pocdd .carousel p {
    margin-top: 5px;
}
.home_pgecities .cities .nav-tabs {
    border-bottom: 4px solid #f5f5f5!important;
}
.home_pgecities .cities ul .nav-item .nav-link.active {
    padding-bottom: 8px!important;
    margin-bottom: -4px!important;
}
.wizard-tab h2 {
    font-size: 25px;
}
.candpcard .fw-bolder {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.home_pgecities li .nav-link {
    color: #808980;
}
.card .upu5dc_ivdf img {
    width: 20px;
    height: 20px;
    margin-bottom: -6px;
}
.card.topsector img {
    width: 50px;
}
#topjobsector .card {
    padding: 1rem 0 .7rem 1rem!important;
    background: #fcfcfc;
}
.home_pgecities .card {
    box-shadow: 0 3px 6px #00000029!important;
}
@media(min-width:1200px) {
    .candpcard .kjhmg_yb p {
    display: none;
    transition: .5s;
}
.candpcard .card:hover .kjhmg_yb p {
    display: block;
}
}@media(min-width:1200px) and (max-width:1300px) {
    .search_hme {
    height: 210px;
}
.hme_banner .jhotyp_jh {
    margin-bottom: -40px;
}
}@media(min-width:1300px) and (max-width:1400px) {
    .search_hme {
    height: 230px;
}
}@media(min-width:1300px) {
    .hme_banner {
    background-position: calc(100% - 0px) -150px;
}
}@media(min-width:320px) and (max-width:480px) {
    .popularser_card h3 {
    width: 45%}
.popularser_card {
    padding: 15px 0;
    border-radius: 0!important;
}
.jnsadsw {
    padding: 0;
}
.pmbg_yt {
    padding: 15px;
}
.blog-sectionw .card {
    padding: 8px;
}
.blog-sectionw .item {
    padding: 5px;
}
}@media(max-width:350px) {
    .blog-sectionw .item {
    padding-right: 0;
}
}@media(max-width:1200px) {
    .pfcmpletalert {
    right: 12px;
}
.pfcmpletalert span {
    font-size: 12px;
}
.pfcmpletalert .wrning img {
    margin-right: 0;
    width: 40px;
}
.hme_banner .kjnhj_jkeq {
    padding-top: 2rem;
}
.hme_banner .jhotyp_jh button {
    padding: 10px 15px;
    font-size: 13px;
}
#homepage_stn h3 span, .hme_banner h3 strong {
    font-size: 16px;
}
.search_hme {
    height: 200px;
    margin-bottom: 30px;
    bottom: -10px;
}
.search_hme .sarchtopcrad {
    bottom: 35px;
    width: 100%;
    border-radius: 0;
}
.search_hme .btn_c_se span {
    display: none;
}
.search_hme .mob {
    display: block;
}
.search_hme .btn_c_se, .search_hme .form-control-2 {
    padding: .6rem .35rem .45rem 1.5rem;
}
.popular_recent_src_hme h3 {
    font-size: .9rem;
}
.blog-sectionw .card h2 {
    font-size: 16px;
    margin-top: 15px;
}
.blog-sectionw .card p.cntc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    color: #4a545a;
    -webkit-box-orient: vertical;
    text-transform: capitalize;
    font-size: 14px;
    height: 45px;
}
.blog-sectionw .card .grayc {
    position: relative;
}
}@media(max-width:767px) {
    #homepage_stn .hmenear_job h3 {
    font-size: 1rem;
}
.hmenear_job #passbtn {
    width: 9px;
}
#homepage_stn .slick-next {
    right: 0;
    z-index: 99;
}
#homepage_stn .slick-prev {
    left: 0;
    z-index: 99;
}
#topjoblistings .hm_grn .kjhmg_yb {
    display: none!important;
}
#homepage_stn .slick-next:before, #homepage_stn .slick-prev:before {
    font-size: 30px;
}
.home_pgecities .cities .nav-tabs {
    border: none!important;
}
.wizard-tab ul .nav-item .nav-link {
    padding-bottom: 8px!important;
    padding-right: 0;
}
.wizard-tab h2 {
    font-size: 20px;
}
#homepage_stn .cities .nav-link {
    font-size: 15px;
}
.candpcard .fw-bolder {
    font-size: 14px;
}
.reserch .titsearch {
    margin-bottom: 10px;
}
.owl-theme .owl-dots .owl-dot span, .owl-theme .owl-dots .owl-dot:hover span {
    width: 25px!important;
    height: 5px!important;
}
.candidate_img img {
    width: 50px;
}
#homepage_stn .candidate_img .candimg_col {
    width: 100%}
}@media(min-width:481px) and (max-width:576px) {
    .blog-sectionw .item {
    padding: 5px;
}
}@media(min-width:768px) and (max-width:1300px) {
    .hme_banner .jhotyp_jh {
    margin-bottom: -30px;
}
.hme_banner h1 {
    font-size: 35px;
}
#homepage_stn h3 span {
    font-size: 20px;
}
.hme_banner h3 strong {
    font-size: 18px;
}
.hme_banner .jhotyp_jh button {
    padding: 13px 85px;
    font-size: 15px;
}
}@media(min-width:768px) and (max-width:992px) {
    .search_hme .sarchtopcrad {
    width: 92%;
    border-radius: 5px;
}
}@media(min-width:992px) and (max-width:1198px) {
    .search_hme .sarchtopcrad {
    width: 85%;
    border-radius: 5px;
}
.pfcmpletalert {
    margin-top: 0!important;
}
}@media(min-width:576px) and (max-width:767px) {
    .search_hme .card {
    width: 88%}
.search_hme .sarchtopcrad {
    border-radius: 5px;
}
.hme_banner .jhotyp_jh {
    margin-bottom: -55px;
}
}.carousel {
    margin: 0 auto;
}
.slick-slide {
    margin: 10px;
}
.slick-slide img {
    display: unset!important;
    margin-bottom: 4px;
}
.slick-next, .slick-next:before, .slick-prev, .slick-prev:before {
    color: #000;
}
.slick-disabled {
    display: none!important;
}
.slick-next:before, .slick-prev:before {
    color: #d4d4d4!important;
    font-size: 30px;
}