
.prof_bg .fa-key{
    background-color: #fff;
    width: 25px;
    height: 25px;
    color: #000;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
    font-size: 12px;
}

#abt_meusr .card {
    padding: 25px;
    box-shadow: none !important;
    border: 1px solid #ccc;
}

#abt_meusr .prof_bg{
    padding: 20px;
    background: #cccccc29;
    border-radius: 10px;
}

.shortcut-buttons-flatpickr-wrapper.light{
    place-content: center !important;
}
.shortcut-buttons-flatpickr-button{
    border: none;
    border-radius: 5px;
    background: #fff;
    padding: 0px 10px;
}