
/*profilepic start*/
.profilepic {
	border: 0.5px solid lightgrey;
	position: relative;
	width: 100px;
    height: 100px;
	/* height: 125px; */
	border-radius: 50%;
	overflow: hidden;
  /* background-color: #111; */
}

.profilepic-modal{
	border: 0.5px solid lightgrey;
	position: relative;
	width: 39%;
	border-radius: 50%;
	overflow: hidden;
}

.profilepic:hover .profilepic__content {
	background: #171717;
  	opacity: 0.7;
}#changephone .btn-close{
  position: absolute;
  right: 15px;
  top: 15px;
}#changephone .text-green-color{
  font-size: 16px;
  font-weight: 700;
}#changephone h5{
  color: #808080;
  font-size: 14px;
}#changephone .btn_c_s{
  padding: 4px 25px;
  margin-top: 8px;
}#changephone .modal-body {
  padding-top: 0px;
}.lkdprw .btn-verify:hover{
  color: #fff;
}

.profilepic:hover .profilepic__image {
  opacity: .5;
}

.profilepic__image {
  object-fit: cover;
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

.profilepic__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.profilepic__icon {
  color: white;
  padding-bottom: 8px;
}

.fas {
  font-size: 20px;
}

.profilepic__text {
  text-transform: uppercase;
  font-size: 12px;
  width: 50%;
  text-align: center;
}
/*profilepic ends */

/* otp starts*/

.otp-field {
  display: flex;
  justify-content: center;
}
.otp-field input {
  width: 10%;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin: 2px;
  border: 2px solid #ddd;
  font-weight: bold;
  outline: none;
  transition: all 0.1s;
}
.otp-field input:focus {
  border: 2px solid #2b5baa;
  box-shadow: 0 0 2px 2px #2b5baa7d;
}
.disabled {
  opacity: 0.5;
}
.space {
  margin-right: 1rem !important;
}

@media (max-width: 500px) {
  .otp-field input {
    width: 12%;
  }
}

@media (max-width: 375px) {
  .otp-field input {
    width: 14%;
  }

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/** otp ends */

.field-icon {
  float: right;
    margin-left: -25px !important;
    margin-top: -27px;
    position: relative;
    z-index: 5;
    left: -3%;
}

.iti__flag { display: none; }
.iti--separate-dial-code input[type=tel] {
    padding-left: 70px !important;
}
.btns1{
  padding: 0.45rem 1rem;
  font-size: 13px;
  border-color: #0866ff;
}
@media(max-width:480px){

.change_phone_number .iti--allow-dropdown{
  margin-bottom:10px;
}
}
@media(max-width: 767px){
  #header .sidenav-toggler{
    display: block !important;
  }
}
.card-title{
  background: #FFFFFF;
  color: #2762c2;
  border-radius: 15px 15px 0px 0px;
}
.acc-set{  
  border-radius: 15px !important;
}
.fw-bolder {
    font-weight: 500 !important;
}
.border-bottom {
    border-bottom: none !important;
}
#profileModal .close, #ChangePassword .close{
  background: none;
  color: #2b5baa;
  border-radius: 5px;
  font-size: 16px;
}
#profileModal label.up_txt {
    color: #4e78c1 !important;
    text-decoration: underline;
    font-size: 15px !important;
}#profileModal .save_txt {
    color: #34a853 !important;
    padding-left: 25px;
    text-decoration: underline;
}