/**common css**/
#page-container{
    background: transparent radial-gradient(closest-side at 50% 50%, #0060ff 10%, #1750ae 90%) 0% 0% no-repeat padding-box;
}#cndidate_wzrd .card{
    background-color:#F3F7FE;
    border-radius:8px;
    margin:0 auto;
}#cndidate_wzrd{
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}#cndidate_wzrd .subtbtn{
    background: #ea4335 !important;
    border-color: #ea4335!important;
    border-radius: 25px !important;
}#cndidate_wzrd .card{
    width: 85%;
}
#cndidate_wzrd .cndte_mbile img{
    width:100%;
}#cndidate_wzrd .site2_logo img{
    width:125px;
}#cndidate_wzrd .progress{
    height:8px;
    background: none !important;
}#cndidate_wzrd .lvledticn img{
    width: 25px;  
}.lvledticn div{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 22px;
    font-weight: 600 !important;
}#cndidate_wzrd .grytxtv{
    color:#808080 !important;
}.grytxtv.pdngtxt{
    padding: 0px 30px 0px 30px;
}p.grytxtv{
    font-size: 14px;
}#cndidate_wzrd .cdt_crtect button{
    background:#C4C4C4;
    border-radius:8px;
}#cndidate_wzrd .restnt{
    color:#808080;
    font-size:14px;
}.levtstge_fre, .levtstge_exp{
    margin: 0 auto;
    display: flex;
    height: 120px;
    width: 120px;
}#cndidate_wzrd .slct_apnd select{
    border: none;
    padding: 5px;   
    border: 1px solid #4285f4 !important;
}#cndidate_wzrd .slct_apnd span{
    border: none;
    background: #4285f4;
    color: #fff;
    border: 1px solid #4285f4 !important;
}#cndidate_wzrd .skls_cdte{
    position: relative;
    background: #fff;
    max-width: 100%;
    word-wrap: break-word;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    margin: 0 5px 5px 0;
    box-shadow: 2px 4px 6px #d6d6dd;
}.skls_cdte .tag-plus{
    border: 0px;
    background: none;
}.loadflebrd {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    border: 3px solid #ccc;
    height: 200px;
    border-style: dashed;
    width: 300px;
    border-radius: 10px;
}.loadflebrd img{
    width: 80px !important;
}#cndidate_wzrd button img, #cndidate_wzrd a.btn img{
    width: 15px;
}#cndidate_wzrd .btn{
    padding: .6rem 1.4rem;
    font-weight: 500;
}#cndidate_wzrd .card{
    max-height: 600px;
    overflow-y: scroll;
}#cndidate_wzrd .card::-webkit-scrollbar {
    display: none;
}#cndidate_wzrd .card{
    width: 80%;
    padding: 0px;
}.levtstge_fre:hover, .levtstge_exp:hover{
    cursor: pointer;
}.experience-text, .fresher-text{
    opacity: 0.4;
    font-weight: 600;
}.experience-text.fw-bolder, .fresher-text.fw-bolder{
    opacity: 1;
}.experienced:hover .experience-text, .fresher:hover .fresher-text{
    opacity: 1;
}#cndidate_wzrd label.form-label{
    font-weight: 500 !important;
}.fresher, .experienced{
    cursor: pointer;
}#cndidate_wzrd .typeahead.dropdown-menu{
    display: block;
    padding: 4px;
    box-shadow: none !important;
    margin-top: 0px;
    border: 3px solid #eee;
}#cndidate_wzrd .typeahead::-webkit-scrollbar {
    width: 5px;
}#cndidate_wzrd .typeahead::placeholder{
    color: #d2d0d0;
}#cndidate_wzrd .typeahead::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px grey;
}#cndidate_wzrd .typeahead::-webkit-scrollbar-thumb {
    background: #4285f4;
}#cndidate_wzrd input::placeholder{
    color: #d2d0d0;
}
@media(max-width:480px){
    #cndidate_wzrd .cndte_mbile{
        display: none;
    }#cndidate_wzrd .card{
        width: 100%;
        padding: 0px;
    }
}@media(min-width:  481px) and (max-width:767px){
    #cndidate_wzrd .cndte_mbile{
        display: none;
    }#cndidate_wzrd .card{
        width: 100%;
    }
}
@media(min-width:  767px) and (max-width: 1024px){
    #cndidate_wzrd .card{
        width: 100%;
    }#cndidate_wzrd .cndte_mbile{
        display: none;
    }#cndidate_wzrd .card-size{
        width: 75%;
        margin: 0 auto;
    }
    
}
@media(min-width:  1025px) and (max-width: 1300px){
    #cndidate_wzrd .card{
        width: 100%;
    }
}

@media(min-width: 280px) and (max-width: 767px){
    .scroll-page #exp_in_year{
        margin-bottom: 15px;
    }
}

    /***** Tharani ***/
    .field-icon {
        float: right;
        margin-left: -25px !important;
        margin-top: -27px;
    position: relative;
        z-index: 5;
        left: -3%;
    }.hide { 
        display: none; 
    }.levtstge_fre{
        background:url(../images/fresher_inactive.png);
        background-size: cover;
        background-position: center;
    }.levtstge_exp{
        background:url(../images/experienced_inactive.png);
        background-size: cover;
        background-position: center;    
    }
    /* .levtstge_exp:focus, .levtstge_exp:hover, .levtstge_exp.checked{
        background:url(../images/experienced_active.png);
        background-size: cover;
        background-position: center;
    }.levtstge_fre:hover, .levtstge_fre:focus, .levtstge_fre.checked{
        background:url(../images/fresher_active.png);
        background-size: cover;
        background-position: center;
    } */
    .form-control.is-invalid{
        background-image: unset !important;
    }
    .grayc{
        font-size: 11px;
    }.scroll-page #salary_currency{
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        background: #4285f4;
        color: #fff;
    }
    /* delete account popup */
    
#dltaccountModal .modal-body{
    padding: 0%;
}
#dltaccountModal .modal-header{
    background: rgb(66,133,244);
    background: linear-gradient(180deg, rgba(66,133,244,1) 0%, rgba(52,105,192,1) 100%);
}
#dltaccountModal .img-fluid {
    max-width: 30%;
    height: auto;
}
.btn-dlt-acc,.btn-dlt-acc:focus, .btn-dlt-acc:hover {
  transition: 0.5s;
  color: #fff;
  background: #4285F4;
  border-color: #4285F4;
  border-radius: 5px;
  font-size: 14px;
}
.btn-cancel{
    background: #cccccc21 !important;
    color: #212529;
    transition: 0.5s;
    border-radius: 5px;
    font-size: 14px;
}