#homepage_stn h3 span{
    font-weight: 200;
}#homepage_stn strong.fw-bolder{
    text-transform: capitalize;
}.hme_banner .jhotyp_jh button{
    background: #4285F4;
    padding: 15px 150px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin-top: 15px;
    text-transform: uppercase;
    border-radius: 4px;
}.hme_banner h3 strong{
    font-size: 20px;
}.hmenear_job h1 {
    font-size: 20px;
    font-weight: 600;
}#homepage_stn .hmenear_job h2{
    font-weight: 600;
    font-size: 24px;
}.hmenear_job h3{
    font-weight: 400;
}.pfcmpletalert{
    background: #F6F6F6;
    margin: 0 auto;
    position: absolute;
    padding: 0px;
    border-radius: 6px;
    box-shadow: 1px 1px 14px 0 rgb(18 38 63 / 20%) !important;
    right: 30px;
    top: 70px;
    z-index: 9;
}.pfcmpletalert .wrning{
    background:#D0DEF5;
    height: 60px;
    clip-path: polygon(0% 0%, 0% 280%, 100% 0%);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    align-items: center;
    justify-content: center;
    display: flex;
}.pfcmpletalert .wrning img{
    margin-right: 10px;
    padding-top: 6px;
}.alert-dismissible .btn-close {
    top: 3px;
}.pfcmpletalert span{
    font-size: 13px;
}.reserch h3{
    font-weight: 600;
}.search_hme .sarchtopcrad{
    position: absolute;
    bottom: 30px;
    width: 85%;
}.search_hme{
    position: relative;
    height: 250px;
    z-index: 10;
}.hme_banner .jhotyp_jh{
    margin-bottom: -70px;
    z-index: 15;
    position: relative;
}.search_hme .dropdown-item:hover {
    color: #1e2125;
    background-color: #4285f438;
}.search_hme .dropdown-item{
    padding-top: 5px;
    padding-bottom: 5px;
}.search_hme .typeahead.dropdown-menu{
    padding: 0px;
    border-radius: 0px;
    margin-top: 0px;
    border: 1px solid #cccccc82;
    border-top: none;
}.designation .typeahead.dropdown-menu{
    margin-right: 54% !important;
}.search_hme .mob{
    display: none;
}.search_hme .btn_c_se{
    color: #fff;
}.search_hme .btn_c_se{
    padding: 0.8rem 0.9rem 0.6rem 1.5rem;
    font-size: 18px !important;
} .popularser_card{
    border: 1px solid #0336880f;
    border-radius: 10px !important;
    padding: 25px 0px;
    background-color: #F8F8F8;
}.popularser_card h3{
    border-bottom: 2px solid #4285f47a;
    padding-bottom: 5px;
    width: 13%;
    font-weight: 600;
    margin: 0 auto;
    font-size: 17px;
}.hme_banner .kjnhj_jkeq{
    padding-top: 3.5rem;
    /* background: linear-gradient(180deg, rgba(66, 133, 244, 0.21) 0%, rgba(14, 66, 152, 0.671875) 56.77%, rgba(0, 48, 127, 0.75) 100%); */
}.hme_banner{
    background: url('../images/home/img.png');
    background-repeat: no-repeat;
    background-size: cover;
}.reserch .titsearch{
    border: 1px solid #4285f4c7;
    border-radius: 50px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 5px;
}.reserch .text_ygb span, .reserch .text_ygb img{
    margin-right: 3px;
    margin-left: 3px;
    font-size: 13px !important;
}.reserch{
    margin-bottom: 40px;
}.reserch .text_ygb{
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    max-width: 200px;
}.popularser_card .plerhvr img{
    width: 7px;
    margin-left: 7px;
    margin-bottom: 1px;
}.popularser_card label{
    font-size: 14px !important;
    font-weight: 400 !important;
    margin: 1rem 2rem;
    padding: 0.4rem 1rem;
    background-color: #ffffff;
}.jh_ubvgqe1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}.jh_ubvgqe2{
    position: absolute;
    width: 20%;
    height: 2px !important;
    color:#4285F4;
}.candimg_parent .jhn_trsw{
    font-weight: 300 !important;
}.candimg_col h2.fw-bolder{
    font-weight: 700!important;
    font-size: 16px;
    text-transform: uppercase;
    color: #4285F4;
}.candimg_parent .arrow img{
    width: 60px;   
}.hmenear_job .card{
    box-shadow: 0px 0px 4px 0px #00000040 !important;
    border-radius: 4px !important;
}#homepage_stn .hm_gr h3{
    font-weight: 600;
    font-size: 16px;
}.hmenear_job #passbtn{
    cursor: pointer;
    width: 11px;
}.renty_pocdd h3.fw-bold{
    margin: 8px;
    font-size: 21px;
}.hmenear_job .carousel h3 {
    font-weight: 600;
    font-size: 16px;
}.hmenear_job .renty_pocdd .carousel h3{
    font-size: 16px;
    font-weight: 700 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #4a545a;
    text-transform: capitalize;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 45px !important;
    align-items: center;
    display: flex;
}.hmenear_job p{
    text-transform: capitalize;
}.renty_pocdd .carousel p {
    margin-top: 5px;
}.home_pgecities .cities .nav-tabs {
    border-bottom: 4px solid #F5F5F5 !important;
}.home_pgecities .cities ul .nav-item .nav-link.active{
    padding-bottom: 8px !important;
    margin-bottom: -4px !important;
}.wizard-tab h2{
    font-size: 25px;
} .candpcard .fw-bolder{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    font-weight: 700 !important;
}.home_pgecities li .nav-link{
    color: #808980;
}#homepage_stn .hm_gr h3{
    text-transform: capitalize;
}.card .upu5dc_ivdf img{
    width: 20px;
    height: 20px;
    margin-bottom: -6px;
}.card.topsector img{
    width: 50px;
}#topjobsector .card{
    padding: 1rem 0rem 0.7rem 1rem !important;
    background: #FCFCFC;
}.home_pgecities .card{
    box-shadow: 0px 3px 6px #00000029 !important;
}

@media(min-width: 1200px){
    .candpcard .kjhmg_yb p{
        display: none;
        transition: all ease 0.5s;
    }.candpcard .card:hover .kjhmg_yb p{
        display: block;
    }
}
@media(min-width: 1200px) and (max-width: 1300px){
    .search_hme {
        height: 210px;
    }.hme_banner .jhotyp_jh {
        margin-bottom: -40px;
    }
}
@media(min-width: 1300px) and (max-width: 1400px){
    .search_hme {
        height: 230px;
    }
}


@media(min-width: 1300px){
    .hme_banner{
        background-position: calc(100% - 0px) -150px;
    }
}

@media(min-width: 320px) and (max-width: 480px){
    .popularser_card h3 {
        width: 45%;
    }.popularser_card{
        padding: 15px 0px;
        border-radius: 0px !important;
    }.jnsadsw{
        padding: 0px;
    }.pmbg_yt{
        padding: 15px;
    }.blog-sectionw .card {
        padding: 8px;
    }.blog-sectionw .item{
        padding-right: 10px;
    }
}

@media(max-width: 350px){
    .blog-sectionw .item{
        padding-right: 0px;
    }
}

@media(max-width: 1200px){
    .pfcmpletalert{
        right: 12px;
    }.pfcmpletalert span {
        font-size: 12px;
    }.pfcmpletalert .wrning img{
        margin-right: 0px;
        width: 40px;    
    }.hme_banner .kjnhj_jkeq {
        padding-top: 2rem;
    }.hme_banner .jhotyp_jh button{
        padding: 10px 15px;
        font-size: 13px;
    }.hme_banner h3 strong {
        font-size: 16px;
    }#homepage_stn h3 span {
        font-size: 16px;
    }.search_hme{
        height: 200px;
        margin-bottom: 30px;
        bottom: -10px;
    }.search_hme .sarchtopcrad{
        bottom: 35px;
        width: 100%;
        border-radius: 0px;
    }.search_hme .btn_c_se span{
        display: none;
    }.search_hme .mob{
        display: block;
    }.search_hme .form-control-2, .search_hme .btn_c_se{
        padding: 0.6rem 0.35rem 0.45rem 1.5rem;
    }.popular_recent_src_hme h3{
        font-size: 0.9rem;
    }.blog-sectionw .card h2 {
        font-size: 16px;
        margin-top: 15px;
    }.blog-sectionw .card p.cntc {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        color: #4a545a;
        -webkit-box-orient: vertical;
        text-transform: capitalize;
        font-size: 14px;
        height: 45px;
    }.blog-sectionw .card .grayc{
        position: relative;
    }
}

@media(max-width: 767px){
    #homepage_stn .hmenear_job h3 {
        font-size: 1rem;
    }.hmenear_job #passbtn {
        width: 9px;
    }#homepage_stn .slick-next{
        right: 0px;
        z-index: 99;
    }#homepage_stn .slick-prev{
        left: 0px;
        z-index: 99;
    }#topjoblistings .hm_grn .kjhmg_yb{
        display: none !important;
    }#homepage_stn .slick-prev:before, #homepage_stn .slick-next:before{
        font-size: 30px;
    }.home_pgecities .cities .nav-tabs{
        border: none !important;
    }.wizard-tab ul .nav-item .nav-link{
        padding-bottom: 8px !important;
        padding-right: 0px;
    }.wizard-tab h2 {
        font-size: 20px;
    }#homepage_stn .cities .nav-link {
        font-size: 15px;
    }.candpcard .fw-bolder{
        font-size: 14px;
    }.reserch .titsearch{
        margin-bottom: 10px;
    }.owl-theme .owl-dots .owl-dot:hover span, .owl-theme .owl-dots .owl-dot span{
        width: 25px !important;
        height: 5px !important;
    }.candidate_img img {
        width: 50px;
    }#homepage_stn .candidate_img .candimg_col{
        width: 100%;
    }
}

@media(min-width: 481px) and (max-width: 576px){
    .blog-sectionw .item{
        padding-right: 10px;
    }
}

@media(min-width: 768px) and (max-width: 1300px){
   .hme_banner .jhotyp_jh {
        margin-bottom: -30px;
    }.hme_banner h1{
        font-size: 35px;
    }#homepage_stn h3 span {
        font-size: 20px;
    }.hme_banner h3 strong {
        font-size: 18px;
    }.hme_banner .jhotyp_jh button {
        padding: 13px 85px;
        font-size: 15px;
    }
}
@media(min-width: 768px) and (max-width: 992px){
    .search_hme .sarchtopcrad{
        width: 92%;
        border-radius: 5px;
    }
}

@media(min-width: 992px) and (max-width: 1198px){
    .search_hme .sarchtopcrad{
        width: 85%;
        border-radius: 5px;
    }.pfcmpletalert{
        margin-top: 0px !important;
    }
}

@media(min-width: 576px) and (max-width: 767px){
    .search_hme .card{
        width: 88%;
    }.search_hme .sarchtopcrad {
        border-radius: 5px;
    }.hme_banner .jhotyp_jh {
        margin-bottom: -55px;
    }
}

/**carousal**/
.carousel{
margin:0px auto;
}
.slick-slide{
margin:10px;
}
.slick-slide img{
    display: unset !important;
    margin-bottom: 4px;
}
.slick-prev, .slick-next{
color:#000;
}
.slick-prev:before, .slick-next:before{
color:#000;
}
.slick-disabled {
display: none !important;
}

.slick-prev:before ,
.slick-next:before {color: #d4d4d4 !important;font-size: 30px;}


