/*==============
company my profile
================ */
#my_profilestntop .nav-link.active{
    border-bottom: 2px solid #ec584c !important;
    background-color: #fff;
    color: #000;
}

#my_profilestntop .nav-link{
    border: hidden !important;
    font-weight: bold;
}


#my_profilestntop .nav-link {
    color: #8f8f8f;
}

#my_profilestntop {
    width: 90%;
}

#my_profilestntop .imge_uiplod img{
    width: 50%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    border-radius: 50%;
    height: 130px;
}


.cname_pfle .card{
    border-radius: 10px;
    padding: 20px;
    background-color: #f3f7fe;
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%) !important;
}

#my_profilestntop .fa-edit{
    color: #1572e8;
}

#my_profilestntop .fa-camera {
    position: absolute;
    background-color: blue;
    color: #ffff;
    width: 30px;
    height: 30px;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    margin-left: 55px;
    margin-top: 18px;
}


#staticBackdrop1 .icnsuld{
    display: none;
}


#my_profilestntop .icnsuld{
    align-items: center;
    justify-content: center;
    display: flex;
}


.myprofile_sec .nav-tabs{
    border-bottom: none !important;
}

.myprofile_sec .cancel_btnabtc, .mypfileupdate .cancel_btnabtc, .dlteglyimg .cancel_btnabtc{
    background-color: #e4e4e4;
    color: #000 !important;
}

.myprofile_sec .smt_btnabtc, .mypfileupdate .smt_btnabtc, .appendgalaryuploadmodel .smt_btnabtc, .dlteglyimg .smt_btnabtc{
    background-color: #00D599;
    color: #000 !important;
}


#my_profilestntop #company_name{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px dotted;
    border-radius: 0px;
    background-color: transparent;
}

#my_profilestntop .fa-save {
    color: #4285f4;
    padding-right: 5px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.editcompanyprofile:hover, #my_profilestntop .fa-refresh:hover{
    cursor: pointer;
}

#my_profilestntop .company_info .card, #my_profilestntop .locationdtlcvs, #my_profilestntop .abt_crdesd{
    background-color: #eeeeee7d;
    border-radius: 10px;
    box-shadow: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);

}


.myprofile_sec #my_profilestntop{
    padding: 10px;
}

.page-inner.myprofile_sec {
    padding: 0rem 1.5rem 2rem 1.5rem;
}
.myprofile_sec #candiftabs{
    align-items: center;
    justify-content: space-around;
}

.galaryappendcontent .card{
    background-color: #f8f8f8;
    box-shadow: none;
    border: 1px solid #ccc;
}


.profilepictureappend img{
    width: 30%;
    border-radius: 50%;
    height: 140px;
    border: 3px solid #ccc;
    padding: 2px;

}

.galaryappendcontent .card-body{
    background: #fff;
    border-radius: 5px;
    min-height: 135px;
    max-height: 135px;
}


.mypfileupdate button, .contentbody input{
padding: 6px 20px 6px 20px;
font-size: 14px;

}

#my_profilestntop .socialmedia .fa {
    padding: 8px 10px 8px 10px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;

}

  
#my_profilestntop .fa-facebook {
    background: #3B5998;
    color: white;
  }

  
#my_profilestntop .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  
#my_profilestntop .fa-linkedin {
    background: #007bb5;
    color: white;
  }

#my_profilestntop .fa-instagram {
    background: #125688;
    color: white;
  }

  
#my_profilestntop .socialmedia .fa:hover {
    opacity: 0.7;

}


#my_profilestntop .noclrfa {
    background-color: #c4c4c4;

}

#my_profilestntop .socialmedia .noclrfa:hover {
    opacity: 1;
    cursor:not-allowed;

}


#my_profilestntop .fa-edit{
    font-weight: bold;
}

.appendpersonaldetails .fw-bold, .appendlocationdetailsview .fw-bold, .abt_crdesd div.fw-bold{
    font-size: 14px;
    color: #808080;

}
.galaryappendcontent img{
    width: 100%;
    height: 12vw;
    object-fit: cover;
}

.contentbody .parent_box {
    background: #eeeeee7d;
}
.contentbody .box {
    height: 150px;
    align-self: center;
    display: inline-flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
}

.contentbody .parent_box{
    border: 1px solid #ccc;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
}

.contentbody .parent_box img{
    margin: 0 auto;
}


#my_profilestntop .addnwglery{
    margin-top: 90px;
    text-align: center;
    margin-bottom: 91px;
}

.savecompanyname .card-title{
    text-align: start;
    color: #000;
    font-weight: bold;
}

.savecompanyname .card-text{
 text-align: start;
 overflow: hidden;
 display: -webkit-box;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 3;
}


.mdelcmpnypfss .modal-title{
    font-size: 18px;
    font-weight: bold;
}


.mdelcmpnypfss .modal-header{
    background: #f3f7fe;
}

.mdelcmpnypfss button, .contentbody input{
    padding: 5px 15px 5px 15px;
}

.mdelcmpnypfss #modelerror{
    margin-bottom: 10px;
}

.dlteglyimg .modal-header{
    background: #f3f7fe;
}

.dlteglyimg .modal-title{
    font-weight: bold;
    font-size: 16px;
}


.appendpersonaldetails .social_icons .fa{
    background: #3B5998;
    color: #fff;
    padding: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 40px;
}

.appendpersonaldetails .input-group-text{
    padding: 0px;
    border:none;
}

.appendpersonaldetails .social_icons input{
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}

.appendpersonaldetails .input-group-text .fa{
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}


#filepreview label{
    border: 1px dashed #999;
    border-radius: 10px;
    background: #ccc0;
    padding: 20px;
    width: 85%;
    margin: 0 auto;
    height: 85%;
}

#filepreview{
    height: 150px;
}

#filepreview .fa-trash{
    font-size: 14px;
    background: red;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
}

 #filepreview .rmveicn{
    position: absolute;
    margin-left: 155px;
 }

#filepreview .updteimg{
    padding: 0px !important;
}

#filepreview .updteimg img{
    width: 100%;
    height: 100%;
    align-self: center;
    display: inline-flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;

}



/*****
filter search
***/
.fileter.mobile{
    position: fixed; 
    bottom: 2px;
    left: 8%; 
    /* left: 30px;  */
    /* z-index: 99;  */
    border: none; 
    outline: none; 
    background-color: #f94739;
    color: white; 
    cursor: pointer; 
    padding: 10px; 
    width: 40px;
    align-items: center;
    display: flex !important;
    justify-content: center;
    border-radius: 60%; 
    font-size: 20px; 
}.filter_show{
    display:none;
  }



  /****
  * screening css
  ****/

  .screening2_quiz .card-color{
    background-color: #EFF4FE !important;
    color: #000;
    }

  .option-rows i {
    color: #e40303;
    padding-left: 10px;
    padding-top: 10px;
  }

  .option-rows input{
    margin-bottom: 15px;
  }

  #screening_jobpost p, #screening_jobpost .add_quizscr{
    font-size: 16px;

  }

  .screen_mdl.modal-header, .screen_mdl .modal-body{
    background: #eff4fe;
    border-bottom: none;

  }


  .screen_brdesignbtn .add_quiz{
    border: 1px solid #ffffd5;
    background: #ffffd5 !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 5%) !important;

  }

  .add_quiz:hover{
    background: #ffffd5 !important;

  }


  .screening1_quiz_job .fwsize_b, .screen_brdesignbtn .fwsize_b{
    font-size: 16px;
  }


  
  .screening1_quiz .card, .screening1_quiz img{
    border-radius: 15px !important;

  }

  .screening1_quiz_search input{
    border-right:1px solid #fff;
  }
  
  .screening1_quiz_search {
    margin-top: 30px;
    margin-bottom: 70px;
    }

   .searching1_quiz_append1 span{
    background-color:#fff;
    border:1px solid #cccccc !important;
  }


.screen_brdesign{  
    position: absolute;
    border-top: 30px solid red;
    border-right: 30px solid transparent;
    margin-left: -16px;
    margin-top: -16px;
}

.screening1_quiz_job .form-select, .screening1_quiz_job .form-control, .screening1_quiz_tybz .tybz.form-control{
    padding: 5px 5px 5px 15px;
    width: 80%;
}

.screening1_quiz_tybz .alert{
    padding: 0rem !important;
    background-color: #EFF4FE;
}

.screening1_quiz_tybz .container{
    padding: 0.8rem 1rem !important;
}


    .screening1_quiz .fa-plus, .screening1_quiz  .fa-check{
    background-color: green;
    width: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
    }

    .screening1_quiz .card {
        padding: 30px 20px 30px 40px;
    }

    .screening1_quiz_job .alert{
        box-shadow: 1px 1px 14px 0 rgb(18 38 63 / 12%) !important;
        border-radius: 5px;

    }

    .screening1_quiz .sg_quiz{
        /* width: 90%;  */
        margin: 0 auto;
        position: fixed;
    }

    .screening1_quiz{
        margin-top:70px;
    }

    .screen_brdesignbtn .fa-plus{
        width: 20px;
        height: 20px;
        text-align: center;
        border-radius: 50%;
        align-items: center;
        margin-left: 10px;
        justify-content: center;
        cursor: pointer;
        display: inline-flex;

    }

    .screen_brdesignbtn .btn{
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }

    .alert-dismissible.screening1_quiz_tybz{
        padding-right: 0rem;
    }


    /****
    ****recruit profile
    ****/


    .c_name.recruit_prof .form-select{
        width: 80%;
    }

    .c_name.recruit_prof .fa-save{
        align-self: center;
    }

    .company_profile1.recruit .about2_cd{
        background-color:#f8f8f8;
    }


    /**
    **Home Page 
    **/


    .cadidate_bnstn .align-items-end img{
        width: 80%;
    }.list_poplar .col-10{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }.list_poplar .fa-history{
        color: #808080;
    }.search-inp-sec .err_msg{
        color: #fff !important;
    }



    .home_pagesection h1{
        font-size: 55px;
    }

    .search_hme .form-control{
        margin-bottom: 0px !important;
    }


    #homepage_stn{
        background-color: #fff !important;
    }
    

    #homepage_stn h1{
        font-size: 40px;
        font-weight: 400;
    }

    .search_hme .btn-success {
        background: #f9e955 !important;
        border-color: #f9e955 !important;
        color: #000;
        /* font-weight: bold; */
    }

    .search_hme .bg-primary{
        background-color: #4285f4 !important;
    }


    .search_hme .card{
        margin-bottom:15px;

       
    }


    .popularser_hme .card-body{
        padding: 0px;
    }

    .popularser_hme .card{
        width: 80%;
        box-shadow: 2px 6px 5px 0 rgb(69 65 78 / 5%) !important;
    }

    .popularser_hme .card:hover{
        box-shadow: 2px 6px 5px 0 rgb(69 65 78 / 15%) !important;

    }

    .popularser_hme .card-body p{
        padding-bottom:5px;
        padding-top: 5px;
        background-color: #DDFFE6;
        font-weight: bolder;
        margin-bottom:0px;
        font-size: 16px !important;


    }


    .popularser_hme button{
    width: fit-content;
    height: 64px;
    /* display: flex; */
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #EAF1F5;
    box-shadow: 0px 3px 6px rgb(0 77 255 / 5%);
    border-radius: 16px 6px;
    padding: 0 12px;
    margin-right: 14px;

    }




    
    .candidate_img img {
        width: 80px;
        margin: 0 auto;
    }

    .rectsear_hme{
        margin-top: 70px;
    }

    .rectsear_hme .rectsear_col{
        text-align: center;
        margin: 0 auto;
        width: 25em;
    }

    .candidate_img .candimg_col{
        padding-top: 120px;
        width: 90%;
        margin: 0 auto;
    }

    .candimg_col h2.fw-bolder{
        font-weight: 500!important;
        font-size: 18px;
        text-transform: uppercase;

    }

    /* .candidate_img .candimg_col {
        padding-top: 120px;
        padding-left: 145px;
    } */

    

    #homepage_stn .hmenear_job h2{
        font-size: 28px;
    }

    .hmenear_job i.far{
        font-size: 25px;
    }

    .hmenear_job p{
        margin-bottom: 5px;
    }

    .hmenear_job .card{
        border-radius: 10px;
    }   

    .hmenear_job hr{
        height: 3px;
        color: #c4c4c4;
    }

    #homepage_stn .candidate_img{
        margin-top: 50px;
    }

    .home_pgecities.card, .hme_blogsectn .card{
        -webkit-box-shadow:none !important;
        box-shadow:none !important;
    }

    .home_pgecities .wizard-tab{
        background-color: #fff !important;
    }

    .home_pgecities .nav-link:hover{
        background-color: #fff !important;
    }

    .hme_blogsectn .card{
        width: 90%;
    }

    .hme_blogsectn{
        margin-top: 60px;
    }

    .hme_blogsectn .hm_post{
        font-size: 12px !important;
    }

    .home_pgecities .card{
        box-shadow: 0px 3px 6px #00000029;
    }

    .home_pgecities .cities .card{
        padding: 1rem 0rem 0rem 1rem !important;
    }

    .home_pgecities i.far{
        font-size: 22px;
    }


    #topcities .hm_ble{
        border-bottom: 8px solid #4285F4;
    }

    #topcities .hm_grn{
        border-bottom: 8px solid #34A853;
   
    }


    .home_pgecities .cities ul{
        width: 80%;
        margin: 0 auto;
    }


    .home_pgecities .cities .nav-tabs{
        border-bottom: 1px solid #fff;
    }

    .home_pgecities .cities .nav-link{
        color: #000;
    }

    #topjoblistings .hm_grn {
        border: 1px solid #34a853;
    }

    #topjoblistings .hm_grn i.fas{
        background-color: #34a853;
    }

    #topjoblistings .hm_grn i.fas, #topjoblistings .hm_ylo i.fas{
        color: #000;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    #topjoblistings .hm_ylo {
        border: 1px solid #F3CB2B;
    }

    #topjoblistings .hm_ylo i.fas{
        background-color: #F3CB2B;
    }


    #topjoblistings .hm_grn:hover{
        background-color: #DDFFE6;
    }

    #topjoblistings .hm_ylo:hover{
        background-color: #FFFDE8;
    }

    .home_pgecities .cities .nav-link{
        font-size: 18px;
    }

    .home_pgecities .cities ul .nav-item .nav-link.active{
        border-bottom: 3px solid #F69333 !important;

    }

    .hmenear_job .hm_gr:hover{
        background-color: #DDFFE6;

    }

    .hmenear_job .hm_gy:hover{
        background-color: #F3F7FE;
    }

    .hmenear_job .card{
        box-shadow: 2px 6px 15px 0 rgb(69 65 78 / 15%) !important;

    }

    .hme_blogsectn .card-body{
        padding: 0rem;
        margin-top: 15px;
    }

    #topcities i{
        margin-top: 5px;
    }


    
    #topcities .hm_grn:before {
        content: "";
        position: absolute;
        height: 0;
        width: 100%;
        background : #DDFFE6;
        left: 0;
        bottom: 0;
        transition: all .3s;
        opacity: 0.3;
    }

    #topcities .hm_grn:hover{
        border-bottom:8px solid #ddffe666;
    }
 
    #topcities .hm_grn:hover:before {
        height: 100%;
    }


  #topcities .hm_ble:before {
    content: "";
    position: absolute;
    height: 0;
    width: 100%;
    background : #D2E2FC;
    left: 0;
    bottom: 0;
    transition: all .3s;
    opacity: 0.3;
}

    #topcities .hm_ble:hover{
        border-bottom:8px solid #d2e2fc45;
    }
    #topcities .hm_ble:hover:before {
        height: 100%;
    }

    /* .hme_blogsectn .card:hover{
        cursor: pointer;
    } */

    #homepage_stn .hm_gr h3{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 50px;
    }
    #topjobsector .card{
        padding: 1rem 0rem 0.7rem 1rem !important;

    }

    .candpcard .fw-bolder{
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 500 !important;
    } 

    .candpcard .fa-angle-right:hover{
        color:#fff !important;
    }

    .hme_banner .mobile_bnr img, .candidate_img .mobile_bnr, #footer .mobile_bnr{
        display: none;
    }

    #topjobsector .card:hover{
        background-color: #DDFFE6;
    }

    .test22{
        text-align: end;
        margin-top: -23px;
        background-color: green;
        width: 40px;
        height: 35px;
        color: #fff;
        position: absolute;
        margin-left: 135px;
        align-items: center;
        justify-content: center;
        display: none;
        border-top-left-radius: 40px;
        font-weight: bolder;
        padding-left: 5px;
        border-bottom-right-radius: 5px;
        padding-top: 8px;
       
    }

    #topjobsector .card:hover .test22{
        display: none;
    }


    /**
    **home-page2
    **/

    .hme_blogsectn .card-text, .hme_blogsectn .hm_post {
        color: #888888;
    }

    .hme_blogsectn .card img{
        box-shadow: 2px 6px 15px 0 rgb(69 65 78 / 15%);
    }


    /* #homepage_stn .candimg_col{
        width: 90%;
        margin: 0 auto;
    } */


    .search_hme .bg-success{
        background-color: #34a853 !important;

    }

    .hme_banner2 button{
    background: #f9e955 !important;
    border-color: #f9e955 !important;
    color: #000;
    font-weight: bold;
    }

    .cadidate_bnstn .bnstn_img img{
        width: 70px;

    }

    .bnstn_img.bsnt_img1{
        margin-left: -180px;

    }

    .bnstn_img.bsnt_img2{
        margin-top: 180px;
        margin-bottom: 120px;
    }

    .bnstn_img.bsnt_img3{
        margin-left: -180px;

    }

    .cadidate_bnstn{
        margin-top: 130px;
        margin-bottom: 100px;
    }

    .search_hme .accordion-button{
        width: fit-content;
        margin: 0 auto;
        background-color: #fff;
        box-shadow: none;
        color: #000;
        padding: 0px;

    }


    .search_hme .recent_searches a {
        background: #ffff;
        padding: 10px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 1%);
        border-radius: 20px;
        width: fit-content;
        color: #000;
        margin-left: 20px;
        border: 1px solid #dbe8ef;
    }


    
    .home-demo h2 {
        color: #FFF;
        text-align: center;
        padding: 5rem 0;
        margin: 0;
        font-style: italic;
        font-weight: 300;
    }

    
    .search_hme .recent_searches a:hover{
        box-shadow: 0 3px 10px rgb(0 0 0 / 15%);
    }


    .popularser_hme .left-section{
    background-color: #DDFFE6;
    position: absolute;
    width: 420px;
    padding-left: 107px;
    padding-top: 57px;

    }

    .popularser_hme .list_poplar img{
        width: 50px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        display: block;
    }

    .popularser_hme  p{
        font-size: 16px !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #candsearchs .nav-link.active{
        background: #4285f4d9;
        color: #fff;
    }

    #candsearchs .nav-link{
        padding: 8px 25px 8px 25px;
        border: 1px solid #ccc;
        color: #808080;
        border-radius: 0px;        
    }

    .hometabcndte #received-tab{
        border-top-left-radius: 5px;
    }

    .hometabcndte #suggested-tab{
        border-top-right-radius: 5px;
    }

    #homepage_stn .nav-tabs{
        border-bottom: none;
    }


  
    .home-demo h2 {
        color: #FFF;
        text-align: center;
        padding: 8rem 0;
        margin: 0;
        font-style: italic;
        font-weight: 300;
    }


    .popularser_hme .list_poplar{
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background: #FFFFFF;
        border: 1px solid #EAF1F5;
        -webkit-box-shadow: 0px 3px 6px rgb(0 77 255 / 5%);
        box-shadow: 0px 3px 6px rgb(0 77 255 / 5%);
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .popularser_hme .list_poplar p{
        margin-bottom: 0px;
    }

    #homepage_stn .popularser_hme{
        margin-bottom: 3rem;
        height: 160px;

    }

    #homepage_stn .hometabcndte{
        margin-top: 4rem;
    }

    
    #topjobsector p{
        margin-bottom: 0px !important;
    }




    .popularser_hme .list_poplar:hover{

        box-shadow: 0px 3px 6px rgb(0 77 255 / 15%);
    }

    /* .popularser_hme .list_poplar:hover .plerhvr{
        margin-left: 20px;
        transition: all .4s ease;   
        -webkit-transition: all .4s ease;
    } */



    /*****************************

    ******* view profile *******

    ******************************/


    #received_cnt{
        margin: 0 auto;
        /* box-shadow: 0 3px 10px rgb(0 0 0 / 10%); */
    }

    #received_cnt .main_assementcrd{
        margin-bottom: 0px;
    }

    #cdate_assesment li{
        margin-bottom: 15px;
    }   
    

    #cdate_assesment .cont_act{
        box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
        padding: 15px 0px 0px 15px !important;
        margin-top: 20px;
        border-radius: 10px;

    }
    #cdate_assesment .profile_card{
        background-color: #F3F7FE !important;

    }




    #cdate_assesment .profile_card .ple_img{
        width: 45%;
        border-radius: 50%;
        padding: 20px;
        line-height: 1.3rem;
        height: 150px;
    }
    


    #cdate_assesment .profile_card{
        margin: 0 auto;
        border: 1px solid rgb(0 0 0 / 6%);
        border-radius: 10px;
        box-shadow: none;
        background-color: #eafbf1 !important;
    }

    #cdate_assesment::-webkit-scrollbar {
        display: none;
    }

    #cdate_assesment{
        overflow-y: overlay;
        height: 500px;
    }

    #cdate_assesment .profile_card .btnact_st{
        box-shadow: 0px 0px 3px 2px #d7d5d5;
        background-color: #fcfeff;
        padding: 0.5rem;
        background-color: #fff;
        border-radius: 0.25rem;
        max-width: 100%;

    }

    #cdate_assesment hr{
        height: 2px;
        background-color: #C4C4C4;
    }


    #cdate_assesment .fa-book{
        font-size: 30px;
    }


    #cdate_assesment .message_btn{
        width: fit-content;
        margin: 0 auto;
        background-color: #4285F4;
        color: #fff;
        border-radius: 20px;
        border: 1px solid #4285F4;
        padding: 5px 20px 5px 20px;
    }


    #cdate_assesment thead{
        background-color: #eafbf1 !important;
    }

    #cdate_assesment tbody{
        background-color: #fff;
    }

    #cdate_assesment .fa-phone, #cdate_assesment .fa-envelope, #cdate_assesment .fa-linkedin{
        align-items: center;
        width: 30px;
        background-color: #1572e8b5;
        height: 30px;
        justify-content: center;
        display: inline-grid;
        border-radius: 50%;
        border: 2px solid;
        font-size: 12px;
        color:#fff !important;

    }
   
    #cdate_assesment {
        height:300px;
        top: 0;
        bottom: 0;
        position: inherit;        
    }

    #cdate_assesment .table td{
        border-color: transparent !important;
    }


    #assessment .nav-tabs {
        border-bottom: 1px solid #efeffe;
        background-color: #EFF4FE;
        padding: 10px;
        border-bottom: none;
    }



    #assessment #applied-tab{
        margin-right: 120px;
    }

    #assessment .nav-link.active{
        border-bottom: 2px solid #ec584c !important;
        background-color: transparent;
        border-color:transparent;
        font-weight: bolder;
    }

    #assessment .nav-link{
        color: #000;
        border:transparent;
    }


    #cdate_assesment .assessment_card{
        border: 2px solid #4285F4;
        padding: 20px;
        border-radius: 5px;
        background-color: #fff !important;
    }

   

    #cdate_assesment .fa-info{
        background-color: #4285f4;
        width: 18px;
        align-items: center;
        justify-content: center;
        display: inline-flex;
        color: #fff;
        border-radius: 50%;
        height: 18px;
        font-size: 12px;
    }

    #cdate_assesment .fa-check, #cdate_assesment .fa-close{
        width: 25px;
        align-items: center;
        justify-content: center;
        display: inline-flex;
        color: #fff;
        border-radius: 50%;
        height: 25px;
        font-size: 12px;
    }

    #cdate_assesment .fa-check{
        background: #6CD038;
    }

    #cdate_assesment .fa-close{
        background: #FF5B5B;
    }

    .assessment_modal{
        max-width: 50%;
    }.assessment_modal .modal-content{
        padding: 10px;
        width: fit-content;
        background: #fff;
        height: auto;
    }.assessment_modal img{
        width: 100%;
    }.assessment_modal p{
        color: #808080;
        font-weight: bolder;
        font-size: 16px;
    }#screeningQuiz72ers3 .modal-header{
        background-color: #d5e4fd;
    }#screeningQuiz72ers3 .modal-header h3{
        font-weight: bolder;
    }#screeningQuiz72ers3 .modal-content{
        padding: 0px;
    }#screeningQuiz72ers3 .close{
        border: 0px;
        background: #fff;
        border-radius: 50%;
        width: 28px;
    }.assessment_modal .card{
        box-shadow: none;
    }


    .assessment_modal .next-btn{
        padding: 9px 20px;
    }
    /*********************
    -----company-view-----
    **********************/
    #aboutcompany .pf_imgsabt img{
        width: 100px;
        height: 100px;
        box-shadow: 2px 6px 15px 0 rgb(69 65 78 / 10%);
        border-radius: 50%;
        border: 3px solid #ccc;
        padding: 2px;
    }

    .abtcmpycrd1 button{
        padding: 6px 25px 6px 25px;
    }

    .comdetail2list p{
        margin-bottom: 10px;
    }

    .comdetail2list .col-md-6{
        margin-bottom: 25px;
    }

    #aboutcompany .card.pf_imgsabt{
        box-shadow: none;
    }


    .card.detail_applierss2{
        border-top: 3px solid #e2e6eb;
        border-radius: 0px;
    }

    #aboutcompany h1{
        font-size: 25px;
    }

   #companydetail .tab-content{
    width: 95%;
    margin: 0 auto;
   }

   #companydetail .ratings .fa{
    font-size: 18px;
    margin-left: 10px;

   }

   #companydetail .rating-color{
    color:#fbc634 !important;
    }

   #companydetail .nav-tabs .nav-link.active{
        border-bottom: 3px solid #ec584c !important ;
        border-top:1px solid transparent;
        border-right:1px solid transparent;
        border-left:1px solid transparent;
        color: #000;
        font-weight: bolder;
    }

    #companydetail .nav-tabs .nav-link{
        border-bottom:2px solid #e2e6eb;
    }

    #companydetail .nav-tabs{
        border-bottom: transparent;
    }

   .comdetail2list p{
        color: #000;
    }

    #companydetail #aboutcompany h2{
        color: #919191;
    }

    #aboutcompany .card{
        margin-bottom: 0px;
    }


    .galaryappendcontent .card{
        border: 1px solid rgba(0,0,0,.125);
    }

    #companydetail{
        padding-bottom: 80px;

    }


    #activejobs .card:hover{

    box-shadow: 1px 5px 15px 0 rgb(19 15 18 / 12%);
    }
    #activejobs .card:hover{
        background-color: #f3f7fe;

    }



#companydetail .socialmediaappend .fa{
    padding: 8px 10px 8px 10px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    color: #fff;
}

#companydetail .noclrfa{
    background-color: #c4c4c4 !important;
    cursor: not-allowed !important;
}

#companydetail .fa-twitter {
    background: #55ACEE;
    color: white;
}

#companydetail .fa-facebook {
    background: #3B5998;
    color: white;
}

#companydetail .fa-instagram {
    background: #125688;
    color: white;
}

#companydetail .fa-linkedin {
    background: #007bb5;
    color: white;
}


.galaryappendcontent img {
    width: 100%;
    height: 12vw;
    object-fit: cover;
}
@media(min-width: 280px) and (max-width: 767px){

    .galaryappendcontent img{
        width: 100%;
        height: 200px;
        object-fit: none;
    }#navbar li.mobile_m{
        display: none;
    }#topjobsector .card{
        padding: 20px !important;
    }.assessment_modal{
        max-width: 100%;
    }.assessment_modal .mobile_m{
        display: none;    
    }.hmenear_job .col-md-6, .home_pgecities .card-body{
        padding: 0px;
    }.hme_blogsectn .card{
        padding: 0px !important;
    }.search_hme .card.p-5{
        padding: 1.5rem!important;
    }
}


    /* **
    **footer css
    **/


    #footer .container{
        display: block;

    }

    .footer_p p{
        text-align: center;
    }


    #footer .footer_hr{
        border-left: 3px solid #c4c4c4;
        height:110px;
    }

    #footer .home_menu ul{
        list-style-type: none;
        padding-left: 0rem !important;
    }

    #footer .home_menu ul li a{
       color: #000;
    }

    #footer .home_menu ul li{
       margin-bottom: 20px;
    }

    #footer .home_cities li{
        margin-bottom: 10px;
    }



    #footer .footerbt_img{
        opacity: 0.5;
    }

    #footer {
    padding: 0px !important;
    }


    #footer .home_menu, #footer .home_cities{
        z-index: 1;
    }




    #footer .btn-outline-facebook {
        border: 1px solid #3b579d;
        color: #3b579d;
    }


    #footer .btn.btn-social-icon{
        width: 50px;
        height: 50px;
        padding: 0;
    }

        
    #footer .btn.btn-rounded {
        border-radius: 50px;
    }

    #footer .btn-outline-facebook {
        border: 1px solid #3b579d;
        color: #3b579d;
    }

    #footer .btn-outline-facebook:hover {
        background: #3b579d;
        color: #ffffff;
    }

    #footer .btn-facebook {
        background: #3b579d;
        color: #ffffff;
    }


    #footer .btn-instagram {
        background: #dc4a38;
        color: #ffffff;
    }


    #footer .btn-linkedin:hover, .btn-linkedin:focus {
        background: #015682;
        color: #ffffff;
    }

    #footer .btn-linkedin {
        background: #0177b5;
        color: #ffffff;
    }


    #footer .btn-linkedin:hover, .btn-linkedin:focus {
        background: #015682;
        color: #ffffff;
    }

    #footer .btn-instagram:hover, .btn-instagram:focus {
        background: #bf3322;
        color: #ffffff;
    }


    #footer .btn-facebook:hover, .btn-facebook:focus {
        background: #2d4278;
        color: #ffffff;
    }

    #footer .btn.btn-social-icon {
        width: 35px;
        height: 35px;
        padding: 0;
        margin-left: 10px;
    }



    /*** media query ***/
    
    @media(min-width: 280px) and (max-width: 480px)  {


        /**view company**/
        .comdetail2list p{
            margin-top: 10px;

        }

        #aboutcompany .pf_imgsabt img{
            border-radius: 50%;
        }

        #companydetail .socialmediaappend .fa{
            padding: 8px 10px 8px 10px;

        }

        .abtcmpycrd1 .ratings {
            align-items: center;
            justify-content: center;
            display: flex;
            font-size: 14px;
        }

        #companydetail .ratings .fa {
            font-size: 14px;
            margin-left: 5px;
        }

        #companydetail div.pb-5 {
            width: 100% !important;
        }

        #activejobs .jobsearch h2{
            font-size: 18px;
        }

        #companydetail .nav-tabs{
            justify-content: space-around !important;

        }




        /**company profile**/
        #my_profilestntop{
            margin: 0 auto;
        }


        .appenddtsb .fw-bolder{
            margin-top: 1.5rem !important;
        }

        #staticBackdrop2 .dlteglyimg{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #my_profilestntop .imge_uiplod img {
            width: 100px;
            height: 100px;
        }

        .page-inner.myprofile_sec{
            padding: 0px;
        }

        .cname_pfle .card{
            margin-top: 10px;
        }

        .cname_pfle .savecompanyname{
            margin-top: 10px;
        }

        .cmpnyprofilemdl.modal-content, .modal-content.mdelcmpnypfss, .modal-dialog.dlteglyimg{
            width: 95%;
            margin: 0 auto;
        }


       
        .profilepictureappend img{
            width: 100px;
            height: 100px;
        }

        #my_profilestntop .appendpersonaldetails{
            width: 100%;
        }

        .company_info .card, .locationdtlcvs, .abt_crdesd{
            padding: 1.5rem!important;
        }

        #my_profilestntop .socialmedia .fa{
            padding: 8px 10px 8px 10px;
        }

        .myprofile_sec #my_profilestntop{
            padding: 20px;
            padding-bottom: 40px;

        }

        .locationdtlcvs .mt-4{
           margin-top: 0rem !important;
        }
    

        .myprofile_sec .fa-edit, .myprofile_sec .fa-close{
            font-size: 20px !important;
        }

        .myprofile_sec .mbileszeqw{
            height: 50px;
            align-items: center;
            display: flex;
        }

        #my_profilestntop{
            width: 100%;
        }

        #my_profilestntop .fa-camera{
            width: 25px;
            height: 25px;
        }


       

       .appendpersonaldetails .fw-bolder, .appendlocationdetailsview .fw-bolder{
            margin-top: 10px;
            margin-bottom: 25px;
            font-size: 16px;

        }

        .savecompanyname .card-title, .cname_pfle .fw-bolder, .appendabout .fw-bolder{
            font-size: 16px;
        }

        .appendpersonaldetails .mt-5, .appendpersonaldetails .mt-4, .appendlocationdetailsview .mt-5{
            margin-top: 0rem !important;
        }


        .editiconappend input{
            padding: 6px 25px 6px 25px;
        }

        #my_profilestntop #candiftabs .nav-item{
            margin-bottom: 0px !important;
        }





        #companydetail .w-50{
            width: 100% !important;

        }

        #assessment #applied-tab{
            margin-right: 10px;

        }

        #assessment .nav-tabs{
            padding: 10px 10px 0px 10px;
        }

        #received_cnt .main_assementcrd{
            padding: 1.5rem!important;
        }

        .profile_ass .book_fa{
            align-self: flex-start !important;
            align-items: flex-start !important;
            justify-content: flex-start !important;
            margin-top: 40px;
            margin-bottom: 20px;
        }

        #assessment .table_assmnt{
            overflow: scroll;
        }

        #assessment .table_rwremve{
            --bs-gutter-x:0rem;
        }


        #cdate_assesment{
            height: 700px;
        }


        /**applicant-profile**/
        #cdate_assesment .profile_card .ple_img{
            width: 150px;
            height: 150px;
        }
        
        #cdate_assesment .book_fa{
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }



        /**candidate css**/

        #candsearchs .nav-link{
            padding:.5rem 1rem;
        }

        #homepage_stn .nav-tabs{
            align-items: center;
            justify-content: center;
        }
        .hometabcndte #candsearchs{
            width: max-content;
            margin: 0 auto;
        }#homepage_stn .popularser_hme{
            margin-top: 1.5rem!important;
        }

        .popularser_hme .list_poplar{
            padding: 12px;
            margin-bottom: 10px;
        }

        #homepage_stn .hometabcndte{
            margin-top: 3rem;
        }
        #homepage_stn .popularser_hme{
            margin-bottom: 3rem;
            height: auto;
        }

        #topjobsector .card{
            height: auto;
        }

        .mobile_bnr .mbalgnsl{
            margin-top:15px;
        }




        #companydetail .tab-content{
            width: 100%;
            margin: 0 auto;

        }

        /* #aboutcompany .card{
            align-items: center;
        } */

        #aboutcompany .follow_btn3ws{
            text-align: center !important;
            margin-top: 15px;
        }


        .candidate_img img {
            width: 60px;
        }

       





        /* .comdetail2list .col-md-6{
            margin-bottom: 80px;
        } */
        .card.abtcmpycrd1{
            padding-top: 25px !important;
            padding-bottom: 25px !important;
        }

        #aboutcompany h1{
            font-size: 18px;
            text-align: center;
            margin-bottom: 15px;
            margin-top: 15px;
        }

        #companydetail #aboutcompany h2{
            font-size: 18px;
        }

        

        #aboutcompany .card .btn{
            padding: 0.4rem 1.2rem;
        }

        #aboutcompany button{
            text-align: center;
        }

        .canlsection.company_profile1{
            margin: 0 auto;
        }

        .about_1{
            width: 100%;
        }

        .hme_banner p{
            text-align: left !important;
        }

        .cadidate_bnstn .bn_cadidate img{
            display: none;
        }


        .cadidate_bnstn{
            margin-top: 70px;
            margin-bottom: 10px;
        }

        .cadidate_bnstn .align-items-end{
            align-items:center !important;
        } 

        .cadidate_bnstn .bnstn_img img{
            width:30px;
        }

        .bnstn_img h2{
            font-size: 14px;
        }

        .cadidate_bnstn p{
            font-size: 12px !important;
        }

        .bnstn_img.bsnt_img2{
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .bnstn_img.bsnt_img1{
            margin-left: 0px;
        }

        .bnstn_img.bsnt_img3{
            margin-left: 0px;
            margin-top: 0px;
        }

        .cadidate_bnstn .align-items-end img{
            width: -webkit-fill-available;
            margin-top: 25px;
        }


        .hme_banner2 button{
            line-height: 0.8rem;
        }
    
        .hme_banner2{
            margin-top: 0.3rem;
            margin-bottom: 2rem!important;
    
        }

        /**company view**/

        #aboutcompany .card.pf_imgsabt{
            align-items: center;

        }

        .detail_applierss2 .mt-5 {
            margin-top: 15px !important;
        }






        /**footer css**/
        #footer .col{
            align-items: center;
            justify-content: center;
            display: flex;
        }
       

        #footer .align_ftr .justify-content-end{
            margin-top: 1rem !important;
            margin-bottom: 0px !important;
        }

        .footer_p p{
            text-align: justify;
        }

        #footer .align_ftr{
            background-image: none !important;
        }

        #footer .align_ftr a{
            font-size: 14px;
        }
        .footer .copyright{
            padding: 0px;
        }

        .home_pgecities .cities .nav-link {
            font-size: 14px;
        }


        #homepage_stn .tab-content{
            margin-top: 0px !important;
        }


        .candimg_parent .arrow img{
            transform: rotate(90deg);
            width: 40px;
            margin-top: 25px;
            margin-bottom: 25px;
        }

        .candimg_parent .mobile_bnr p{
            margin-bottom: 0px;
        }

        .candidate_img .system_vw, #footer .system_vw{
            display: none;
        }

        .candimg_col h2.fw-bolder{
            text-align: initial;
            font-size:14px;

        }

        #footer .footer_logo{
            margin-top: 0px !important;
        }

        #footer .footer_logo img{
            width: 150px;
        }

        .hme_banner .mobile_bnr img, .candidate_img .mobile_bnr, #footer .mobile_bnr{
            display: block;
        }

        #homepage_stn p{
            text-align: justify;
            hyphens: auto;
            word-spacing: -0.05em;
        }
    

        #homepage_stn h1{
            font-size: 1.1rem;
        }

        .rectsear_hme h3{
            font-size: 16px;
        }

        .rectsear_hme .rectsear_col{
            width: 50%;
            text-align: initial;
        }

        .rectsear_hme p{
            color: #808080 !important;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

        }


        .search_hme .card #location{
            margin-top:10px;
            margin-bottom: 10px;
        }

        .search_hme .card .err_msg{
            font-size: 12px;

        }
       

        .rectsear_hme{
            margin-top: 40px;
        }

        #header .sidenav-toggler{
            display: none !important;
        }

        .hme_banner{
            
            background:none !important;
            padding-bottom: 0px !important;
        }

        .hme_banner h1{
            margin-top: 0px !important;
        }

        .page-inner {
            padding: 0.2rem 0;
        }
        
        .search_hme{
            margin-top: 1rem !important;
        }

        .rectsear_hme .rectsear_col {
            margin-bottom: 35px;
       }

       #homepage_stn .candidate_img{
        margin-top: 0px;

       }

       .candidate_img .candimg_col {
        padding-top:0px;

       }

       .hme_banner2 h1{
        margin-top: 0px !important;
        margin-bottom: 0px !important;
       }

       .candimg_col .col-md-4 .arrow{
            transform: rotate(90deg);
            margin-bottom: 40px;
            margin-top: 20px;
       }

       .candidate_img .candimg_col{
        padding-left: 0px;

       }

       .candidate_img{
        margin-left: 0px !important;
        }

        #homepage_stn .hmenear_job h2 {
            font-size: 20px ;
        }

        #homepage_stn, #footer{
            padding: 15px !important;
        }

        .hmenear_job .row{
            margin: 0 auto;
        }

        .home_pgecities .cities ul{
            width: 100%;
        }

        #candiftabs .nav-item{
        margin-bottom: 20px !important;
        }

        .hme_blogsectn {
            margin-top: 30px;

        }

        .hme_blogsectn .card{
            width: 100%;
        }

        .footerbt_img{
            display: none;
        }

    }


    @media(min-width: 481px) and (max-width: 767px)  {


        .hme_banner .mobile_bnr img{
            display: block;
        }.assessment_modal #cdate_assesment{
            height: 250px;
        }.assessment_modal{
            width: 80%;
            margin: 0 auto;
        }

        #homepage_stn h1{
            font-size: 1.6rem;
        }

        #homepage_stn .popularser_hme {
            margin-bottom: 3rem;
            height: auto;
        }


        #footer .system_vw {
            display: none;
        }

        #footer .mobile_bnr {
            display: block;
        }


        #footer .home_menu .col{
            align-items: center;
            justify-content: center;
            display: flex;
        }


        .hme_banner {
            
            background:none !important;
            padding-bottom: 0px !important;
        }

        .hme_banner h1{
            margin-top: 0px !important;
        }

        .page-inner {
            padding: 0.2rem 0;
        }

        .search_hme .card {
            padding: 1.5rem !important;
        }

        .candimg_parent .arrow img {
            transform: rotate(90deg);
            width: 60px;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .candimg_parent .mobile_bnr p {
            margin-bottom: 0px;
        }

        .candidate_img .mobile_bnr{
            display: block;
        }

        .candidate_img .system_vw{
            display: none;
        }

        .candimg_parent .mobile_bnr h2, .candimg_parent .mobile_bnr p{
            text-align: initial;
        }

        .search_hme .card #location {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
        .search_hme{
            margin-top: 1rem !important;
        }

        .rectsear_hme .rectsear_col {
            margin-bottom: 35px;
       }

       #homepage_stn .candidate_img{
        margin-top: 0px;

       }

       .candidate_img .candimg_col {
        padding-top: 0px;

       }

       .candimg_col .col-md-4 .arrow{
            transform: rotate(90deg);
            margin-bottom: 40px;
            margin-top: 20px;
       }

       .candidate_img .candimg_col{
        padding-left: 0px;

       }

       .candidate_img{
        margin-left: 0px !important;
        }

        #homepage_stn .hmenear_job h2 {
            font-size: 1.35rem;
        }

        #homepage_stn{
            padding: 15px !important;
        }

        .hmenear_job .row{
            margin: 0 auto;
        }

        .home_pgecities .cities ul{
            width: 100%;
        }

        #candiftabs .nav-item{
        margin-bottom: 20px !important;
        }

        .hme_blogsectn {
            margin-top: 30px;

        }

        .hme_blogsectn .card{
            width: 100%;
        }

        .footerbt_img{
            display: none;
        }


        /**applicant-profile**/
        #cdate_assesment .profile_card .ple_img{
            width: 150px;
            height: 150px;

        }

        #cdate_assesment .book_fa{
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }


        /**my_profile company **/
       

        #my_profilestntop{
            width: 100%;
        }

        #my_profilestntop .imge_uiplod img{
            width: 150px;
            height: 150px;
        }

        .cname_pfle .savecompanyname{
            margin-top: 10px;
        }

        .appenddtsb .fw-bolder{
            margin-top: 1.5rem !important;
        }

        .myprofile_sec .mbileszeqw {
            height: 50px;
            align-items: center;
            display: flex;
        }

        .appendpersonaldetails .mt-5, .appendpersonaldetails .mt-4, .appendlocationdetailsview .mt-5 {
            margin-top: 0rem !important;
        }

        .appendpersonaldetails .fw-bolder, .appendlocationdetailsview .fw-bolder {
            margin-top: 10px;
            margin-bottom: 25px;
        }

        .cmpnyprofilemdl.modal-content, .modal-content.mdelcmpnypfss, .modal-dialog.dlteglyimg {
            width: 95%;
            margin: 0 auto;
        }

        .galaryappendcontent .card{
            width: 90%;
            margin-bottom: 30px !important;
            margin: 0 auto;
        }

        #staticBackdrop2 .dlteglyimg{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        /**view company**/

        #aboutcompany .card.pf_imgsabt {
            align-items: center;
        }
        #aboutcompany h1 {
            font-size: 25px;
            text-align: center;
            margin-bottom: 15px;
            margin-top: 15px;
        }

        .abtcmpycrd1 .ratings {
            align-items: center;
            justify-content: center;
            display: flex;
        }

        #aboutcompany .follow_btn3ws {
            text-align: center !important;
            margin-top: 15px;
        }

        #companydetail .tab-content {
            width: 95%;
            margin: 0 auto;
        }

        #companydetail div.pb-5 {
            width: 100% !important;
        }

        #companydetail .socialmediaappend .fa {
            padding: 8px 10px 8px 10px;
        }

        #aboutcompany .pf_imgsabt img{
            border-radius: 50%;
        }


    }


    @media(max-width: 767px){
        .navbar-mobile ul {
            height: fit-content;
        }
    }



    @media(min-width: 768px) and (max-width:1024px)  {

    #cdate_assesment{
        height: 1000px;
    }

    #homepage_stn .hometabcndte {
        margin-top: 3rem;
    }

    #homepage_stn .popularser_hme {
        margin-bottom: 3rem;
    }

    .candimg_col h2.fw-bolder{
        font-size: 14px;

    }

    .home_pgecities .mt-5{
        margin-top: 1rem !important;

    }
   

    .cadidate_bnstn .align-items-end{
        align-items: center!important;
        justify-content: center!important;
    }

    .bnstn_img.bsnt_img2 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .cadidate_bnstn .bnstn_img img {
        width: 100%;
    }

    .hme_banner h1{
        margin-top: 0px !important;
    }

    .page-inner {
        padding: 1rem 0;
    }
    
    .search_hme{
        margin-top: 1rem !important;
    }

    .rectsear_hme .rectsear_col {
        margin-bottom: 35px;
   }

   .bnstn_img.bsnt_img1{
    margin-left: 0px;
    margin-bottom: 50px;
   }

   .bnstn_img.bsnt_img3{
    margin-left: 0px;
    margin-top: 50px;
   }

   #homepage_stn .candidate_img{
    margin-top: 0px;

   }

   .candidate_img .candimg_col {
    padding-top: 30px;

   }


   .candidate_img .candimg_col{
    padding-left: 0px;

   }

   .candidate_img{
    margin-left: 0px !important;
    }

    #homepage_stn .hmenear_job h2 {
        font-size: 1.35rem;
    }

    /* #homepage_stn{
        padding: 15px !important;
    } */


     /**applicant-profile**/
     #cdate_assesment .profile_card .ple_img{
        width: 150px;
        height: 150px;
    }

    #cdate_assesment .mbleaplcnt{
            margin-top: 2rem;
    }

    .hmenear_job .row{
        margin: 0 auto;
    }

    .home_pgecities .cities ul{
        width: 100%;
    }

    #candiftabs .nav-item{
    margin-bottom: 20px !important;
    }

    .hme_blogsectn {
        margin-top: 30px;

    }

    .hme_blogsectn .card{
        width: 100%;
    }

    #homepage_stn h1{
        font-size: 1.725rem;

    }

    .hme_banner{
        background-size: cover !important;
        padding-bottom: 0px !important;

    }   
    
    .search_hme button{
        width: fit-content;
    }

    .search_hme .form-control{
        margin-bottom: 0px !important;
    }

    .candidate_img .arrow img{
        width: 60px;
    }

    .candidate_img .candimg_col{
        width: 100%;
        margin: 0 auto;
    }

    .candidate_img{

        background-size: cover !important;
        padding-bottom: 0px !important;
    }


    .home_pgecities h3, #topcities h2{
        font-size: 16px;
    }


    #topjobsector .col-4{
        align-self: center;
    }





    /**my_profile company**/

    #my_profilestntop{
        width: 100%;
    }

    #my_profilestntop .imge_uiplod img{
        width: 100px;
        height: 100px;

    }

    .cname_pfle .savecompanyname {
        margin-top: 10px;
    }

    .appendpersonaldetails .fw-bolder, .appendlocationdetailsview .fw-bolder {
        margin-top: 10px;
        margin-bottom: 25px;
    }

    .appendpersonaldetails .mt-5, .appendpersonaldetails .mt-4, .appendlocationdetailsview .mt-5 {
        margin-top: 0rem !important;
    }

    .appenddtsb .fw-bolder {
        margin-top: 1.5rem !important;
    }

    #my_profilestntop .socialmedia .fa{
        padding: 8px 10px 8px 10px;
    }

    .myprofile_sec .mbileszeqw {
        height: 50px;
        align-items: center;
        display: flex;
    }


    /**company view**/

    #companydetail div.pb-5{
        width: 100% !important;

    }
    #aboutcompany .card.pf_imgsabt{
        align-items: center;
        justify-content: center;
    }

    #companydetail .tab-content {
        width: 90%;
        margin: 0 auto;
    }

    #aboutcompany .pf_imgsabt img{
        border-radius: 50%;
    }

    /** footer **/
    .home_cities h3{
        font-size: 16px;
    }

}


    @media(min-width: 1025px) and (max-width: 1200px)  {
    /**candidate page**/
    #homepage_stn h1{
        font-size: 20px;
        margin-top: 0px !important;
    }

    .search_hme{
        margin-top: 1rem !important;
    }

    .candidate_img img{
        width: 60px;
    }
    .candimg_parent p, .candimg_col h2.fw-bolder{
        font-size: 14px !important;
    }

    .candidate_img .candimg_col{
        width: 100%;
    }
    
    #topcities h5{
        display: none;
    }

    .cname_pfle .savecompanyname {
        margin-top: 10px;
    }
    #my_profilestntop .imge_uiplod img {
        width: 130px;
        height: 130px;
    }

    .appendpersonaldetails .fw-bolder, .appendlocationdetailsview .fw-bolder {
        margin-top: 10px;
        margin-bottom: 25px;
    }

    .appenddtsb .fw-bolder {
        margin-top: 1.5rem !important;
    }

    .appendpersonaldetails .mt-5, .appendpersonaldetails .mt-4, .appendlocationdetailsview .mt-5{
        margin-top: 0rem !important;
    }


     /**applicant-profile**/
     #cdate_assesment .profile_card .ple_img{
        width: 150px;
        height: 150px;
    }

    #cdate_assesment .mbleaplcnt{
            margin-top: 2rem;
    }

}


@media(min-width: 992px) and (max-width:1024px)  {
    .hme_banner{
        padding-bottom: 75px !important;

    }
}
@media(min-width: 767px) and (max-width:1200px)  {
    #topjobsector .card{
        padding: 15px !important;
    }.home_pgecities .cities .card {
        padding: 10px !important;
    }.assessment_modal .mobile_m{
        display: none;    
    }
}
    