/**

1.1.user sidebar

1.2.user about me

1.3.my education

1.4.my experience

1.5.choose experience

1.6.my experience1

1.7.my experience2

**/
/******************
****1.1.user sidebar****
*******************/
#user_sbar .user_card{
    background:transparent linear-gradient(180deg, #2b5baa 0%, #195ECD 100%) 0% 0% no-repeat padding-box;
    border-radius:10px;
    padding: 20px 15px 20px 15px;
    margin-top: 10px;
}#user_sbar .user{
    padding: 10px 10px 0px 10px;
}#user_sbar .sidebar-content{
    padding-bottom: 0px;
}#user_sbar .useraccountsetting {
    color:#fff;
}#user_sbar .pf_cfont{
    font-size:15px;
}#user_sbar .sideb_icn{
    font-weight: 500;
    font-size: 14px;
    align-items: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}#user_sbar .sideb_icn img{
    width: 23px;
}.sideb_icn a {
    color: #000;
}#user_sbar .collapse#collapseExample,  #user_sbar .collapsing#collapseExample{
    padding: 12px;
    border-radius: 15px;
}#user_sbar .collapse .card,  #user_sbar .collapsing .card{
    background:#E9F1FF;
}#user_sbar .collapse .fa-check,  #user_sbar .collapsing .fa-check{
    color:#00D599;
}#user_sbar .sidebar .user{
    padding-bottom: 0px !important;
}#user_sbar .side_rgt .sideb_icn{
    margin-left: 25px;
    font-size: 14px;
}#user_sbar .click_side1{
    cursor: pointer;
}#user_sbar .no_fillfield a,  #user_sbar .no_fillfield i{
    color:#808080;
}#user_sbar .fa-check,  #user_sbar .fa-plus{
    font-size:14px;
}#user_sbar .sidebar .card{
    margin-bottom:0px !important;
}.more-details-show-hide.collapse{
    padding: 0px;
}
/******************
****1.2.user about me****
*******************/
#abt_meusr .icnsuld {
    align-items: center;
    justify-content: center;
    display: flex;
}#abt_meusr .profilepictureappend img {
    width: 125px;
    border-radius: 50%;
    height: 125px;
    border: 2px solid #eee;
    padding: 2px;
}#abt_meusr{
    width:65%;
}.ttleicn img{
    width:32px;
    filter: invert(76%) sepia(30%) saturate(3461%) hue-rotate(179deg) brightness(98%) contrast(91%);
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 21px;
    margin-right: 5px;
    align-items:center;
}.ttleicn h2{
    color: #2b5baa;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 700 !important;
}#page-container{
    min-height:auto !important;
}#abt_meusr .fa-user{
    color: #1572ea;
    border: 1px #1572ea solid;
    border-radius: 62px;
    padding: 9px 11px;
    background: #fff;
}.main-panel-custom .card{
    padding: 25px !important;
    box-shadow: none !important;
    border: 1px solid #cccccc57;
    border-radius: 4px;
}#abt_meusr .fa-camera {
    position: absolute;
    background-color: blue;
    color: #ffff;
    width: 30px;
    height: 30px;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 55px;
}#abt_meusr label{
    color: #000000b8 !important;
    font-weight: 600 !important;
}#abt_meusr .fa-check{
    background-color: #25D366;
    width: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
    font-size: 8px;
}#abt_meusr label.form-check-label {
    font-weight: 500 !important;
}
@media(min-width: 280px) and (max-width: 767px){
    #abt_meusr .ttleicn img{
        width: 35px;
    }#abt_meusr .ttleicn h2 {
        font-size: 20px;
    }.prof_bg .profilepictureappend{
        text-align: center;
    }#abt_meusr .profilepictureappend img{
        /* width: auto; */
    }#abt_meusr .profilepictureappend img{
        border: 0px;
    }#language_knwn .table{
    overflow-x: auto;
    display: block;
    }.user_card .pf_cfont{
        width: max-content;
        margin: 0 auto;
    }.replace-resume{
        margin-top: 20px;
    }#abt_meusr #exp_in_year{
        margin-bottom: 15px;
    }
}

@media(min-width: 768px){
    .jn_abtgfv1{
        position: absolute;
        right: 60px;
        margin-top: 8px;
    }
}
/******************
**1.3.my education**
*******************/
#add_edit_user_education .input-group-text, #my_expernce2 .input-group-text{
    width: 55px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}#my_eductin{
    width:65%;
}#my_eductin .crdbxpl{
    background-color:#F6F6F6;
    font-weight: 500;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
}#my_eductin .crdbxless{
    background-color:#2762c2a3;
    color: #FFFFFF;
    font-weight: 500;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 6px #00000029;
    cursor: pointer;
}#my_eductin .card{
    padding: 35px;
    background:#FCFCFC;
    box-shadow: 0px 0px 6px #00000029;
}#my_eductin .fa-plus, #my_eductin .fa-minus{
    align-items: end;
    text-align: end;
    justify-content: end;
    display: flex;
    font-size: 18px;
}#my_eductin hr{
    height: 2px;
}#my_eductin .cnsl_btn{
    background-color: #e4e4e4;
    color: #000 !important;
}#my_eductin .sb_btn{
    background-color: #00D599;
    color: #000 !important;
}#my_eductin .appendeducation{
    background: #FFFFFF;
}.openForm .fa-pencil, .fa-pencil.openForm{  
    color: #2b5baa;
    font-size: 16px;
    cursor: pointer;
    
}#my_eductin .appendeducation label{
    color:808080 !important;
}
.educationForm .modal-body{
    overflow-y: scroll;
    max-height: 400px;
}#experience_div h3{
    font-size: 17px;
    font-weight: 600;
}
@media screen and (min-height:800px){
    .educationForm .modal-body{
        overflow-y: unset;
        max-height: unset;
    }
}

.educationForm .modal-header{
    border-bottom:unset !important;
    background: #FFFFFF;
}
/******************
**1.4.my experience**
*******************/

#my_expernce{
    width:65%;
}
@media screen and (max-width:767px){
    #my_expernce{
        width:unset;
}
}#my_expernce .expnce img{
    width: 40%;
} 
.select2-container{
    z-index: initial;
}
/******************
**1.5.choose experience**
*******************/
#chhose_expernce{
    width:65%;
}#chhose_expernce h2 {
    font-size: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}#chhose_expernce .chseimg img{
    width: 150px;
}#chhose_expernce .add_exprn{
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 6px #00000029;
    width: 80%;
    margin: 0 auto;
}#chhose_expernce .expnce .fw-bolder{
    color: #808080;
    opacity: 1;
}
/******************
**1.6.my experience1**
*******************/
#my_expernce1{
    width:65%;
}#my_expernce1 h2 {
    font-size: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}#my_expernce1 .card {
    padding: 60px;
    background:#F6F6F6 0% 0% no-repeat padding-box;;
    box-shadow: 0px 0px 6px #00000029;
}#my_expernce1 .cnsl_btn{
    background-color: #e4e4e4;
    color: #000 !important;
}#my_expernce1 .sb_btn{
    background-color: #00D599;
    color: #000 !important;
}
/******************
**1.7.my experience2**
*******************/
#my_expernce2{
    width:65%;
}#my_expernce2 .crdbxpl{
    background-color:#F6F6F6;
    font-weight: 500;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}.crdbxpl button{
    background-color: #2b5baa;
    color: #fff;
    border: 1px solid #2b5baa;
    border-radius: 20px;
    padding: 2px 18px 2px 18px;
}#my_expernce2 .card{
    background:#FFFFFF;
    padding: 35px;
    box-shadow: 0px 0px 6px #00000029;
}#my_expernce2 .fa-trash {
    color: #FF3434;
    font-size: 18px;
    cursor: pointer;
}#my_expernce2 .dtls small{
    color: #808080
}#my_expernce2 .gry{
    color:#808080;
    font-size: 14px;
}#my_expernce2 .skilsdtl span{
    background: #2b5baa !important;
    color: #fff !important;
    font-size: 14px;
    padding: 4px 15px;
    border-radius: 20px;
}#my_expernce2 .skilsdtl .fa-close{
    font-size: 12px;
}#my_expernce2 .skilsdtl span{
    margin-right: 10px;
}#my_expernce2 .text-justify{
    text-align: justify;
}
/******************
**1.8.my projects**
*******************/
#my_projts{
    width:65%;
}#my_projts h2 {
    font-size: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}#my_projts .card{
    padding: 60px;
    background:#F6F6F6;
    box-shadow: 0px 0px 6px #00000029;
}#my_projts .cnsl_btn{
    background-color: #e4e4e4;
    color: #000 !important;
}#my_projts .sb_btn{
    background-color: #00D599;
    color: #000 !important;
}
/******************
**1.8.my skills**
*******************/
#my_skills{
    width: 65%;
}#my_skills h2 {
    font-size: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}#my_skills .skilsdtl{
    background: #F6F6F6 !important;
    font-size: 14px;
    padding: 4px 15px;
    border-radius: 20px;
    margin-right: 10px;
    color: #808080 !important;
    box-shadow: 0px 3px 6px #00000029;
}#my_skills .skilsdtl .fa-close{
    font-size: 12px;
}#my_skills .cnsl_btn{
    background-color: #e4e4e4;
    color: #000 !important;
}#my_skills .sb_btn{
    background-color: #00D599;
    color: #000 !important;
}#my_skills .card{
    background: #F6F6F6;
    padding: 20px;
}#my_expernce2 label.form-label{
    font-weight: 500 !important;
}
/******************
**1.9.my skills1**
*******************/
#my_skills1 .card {
    background: #FFFFFF;
    padding: 35px;
    box-shadow: 0px 0px 6px #00000029;
}#my_skills1{
    width: 65%;
}#my_skills1 h2 {
    font-size: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}#my_skills1 .crdbxpl, #language_knwn .crdbxpl{
    background-color: #F6F6F6;
    font-weight: 500;
    padding: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
}#my_skills1 .fa-trash {
    color: #FF3434;
    font-size: 18px;
    cursor: pointer;
}.modal label.form-label, #language_knwn label.form-label{
    font-weight: 500 !important;
}
/******************
**10. language Known**
*******************/
#language_knwn{
    width: 65%;
}#language_knwn .thtg{
    background: #2b5baa;
    color: #fff;
}#language_knwn .rslt{
    background:#FFFFFF ;
    margin-top: 10px;
}#language_knwn .addrw{
    background:#F6F6F6 ;
}#language_knwn .addbtn{
    background: #2b5baa 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 19px;
    border: 1px solid #2b5baa;
    color: #fff;
    padding: 3px 30px 3px 30px;
}#language_knwn .table{
    border-collapse: separate !important;
    border-spacing: 0 15px;
}#language_knwn .addrw input, #language_knwn .addrw select {
    padding: 6px;
    border: 1px solid #fff;
}#language_knwn .fa-check{
    color:#00D599;
}#language_knwn .fa-trash {
    color: #FF3434;
    cursor: pointer;
}
/******************
**11. language Known1**
*******************/
#language_knwn1{
    width: 65%;
}#language_knwn1 h2 {
    font-size: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}#language_knwn1 .card{
    background: #F6F6F6;
    padding: 60px;
    box-shadow: 0px 0px 6px #00000029;
}#language_knwn1 .cnsl_btn{
    background-color: #e4e4e4;
    color: #000 !important;
}#language_knwn1 .sb_btn{
    background-color: #00D599;
    color: #000 !important;
}
/******************
****12.my resume****
*******************/
#resume_upload_modal .close{
    background:none;
    color: #2b5baa;
    border-radius: 5px;
}
.modal-title {
    color: #2b5baa;
}
#my_resme{
    width: 65%;
}#my_resme .card{
    background: #FFFFFF;
    padding: 30px;
    box-shadow: 0px 0px 6px #00000029;
}#my_resme .fa-arrow-up{
    background: #00d599;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    display: flex;
}#my_resme table{
    width: fit-content;
    margin: 0 auto;
}#my_resme .fa-trash {
    color: #FF3434;
    cursor: pointer;
}

#job_alert_div h3{
    font-size: 16px;
    font-weight: 600;
}
@media screen and (max-width: 480px){
    #my_resme, #abt_meusr, #language_knwn1, #language_knwn, #my_eductin, #my_expernce2, #my_skills1{
        width: 100%;
    }#abt_meusr .card, #language_knwn1 .card {
        padding: 30px;
    }
    .ttleicn img{
        width: 35px;
    }.crdbxpl button{
        padding: 1px 6px;
    }.header-space-search .jdcarc .justify-content-end{
        justify-content: start !important;
    }.cmpinfo-detail .text-end{
        text-align: start !important;
        margin-top: 1rem;
    }
}


@media(min-width: 481px) and (max-width: 767px){
    #abt_meusr, #my_resme, #my_eductin, #my_expernce2, #my_skills1, #language_knwn{
        width: 100%;
    }.header-space-search .jdcarc .justify-content-end{
        justify-content: start !important;
    }.cmpinfo-detail .text-end{
        text-align: start !important;
        margin-top: 1rem;
    }
}
@media(min-width: 768px) and (max-width: 918px){
    #language_div .table{
        overflow-x: auto;
        display: block;
    }
}

@media(min-width: 600px) and (max-width: 800px){
    .main-panel-custom{
        width: calc(100% - 80px) !important;
    }
}

@media(max-width: 600px){
    .main-panel-custom{
        width: 100% !important;
    }.changewdth{
        display: none;
    }
}

@media(max-width: 1200px){
    #my_resme .d-flex{
        align-items: center;
        width: 250px;
        margin: 0 auto;
    }
}
@media(min-width: 768px) and (max-width: 1024px)
{    
    #abt_meusr, #my_resme, #my_eductin, #my_expernce2, #my_skills1{
        width: 100%;
    }
    .main-panel-custom.main-panel-customize #abt_meusr, 
    .main-panel-custom.main-panel-customize #my_resme, 
    .main-panel-custom.main-panel-customize #my_eductin, 
    .main-panel-custom.main-panel-customize #my_expernce2, 
    .main-panel-custom.main-panel-customize #my_skills1{
        width: 80%;
    }#abt_meusr .profilepictureappend img{
        /* width: 100%; */
        /* height: auto; */
    }#language_knwn, #language_knwn1{
        width: 100%;
    }#language_knwn1 .card{
        padding: 25px;
    }
}
@media(min-width: 1025px) and (max-width: 1299px){
    #abt_meusr, #my_resme, #my_eductin, #my_expernce2, #my_skills1{
        width: 95%;
    }
    .main-panel-custom.main-panel-customize #abt_meusr, 
    .main-panel-custom.main-panel-customize #my_resme, 
    .main-panel-custom.main-panel-customize #my_eductin, 
    .main-panel-custom.main-panel-customize #my_expernce2, 
    .main-panel-custom.main-panel-customize #my_skills1{
        width: 75%;
    }#abt_meusr .profilepictureappend img{
        /* width: 100%; */
        /* height: auto; */
    }

}
@media only screen and (min-width: 1300px){
    #abt_meusr, #my_resme, #my_eductin, #my_expernce2, #my_skills1{
        width: 85%;
    }
    .main-panel-custom.main-panel-customize #abt_meusr, 
    .main-panel-custom.main-panel-customize #my_resme, 
    .main-panel-custom.main-panel-customize #my_eductin, 
    .main-panel-custom.main-panel-customize #my_expernce2, 
    .main-panel-custom.main-panel-customize #my_skills1{
        width: 65%;
    }#abt_meusr .profilepictureappend img{
        /* width: 100%; */
        /* height: auto; */
    }

}
.fw-bolder {
    font-weight: 400 !important;
}
.form-check label, .form-group label{
    font-weight: 400 !important;
}
label{
    font-weight: 500 !important;
}
form label{
    font-size: 14px!important;
    font-weight: 400 !important;
}.lgncard1 h2{
    font-size: 22px;
    font-weight: 600 !important;
}.lgncard1 .fw-bolder{
    font-weight: 600 !important;
}