.vodiapicker{
    display: none; 
  }
  #a{
    padding-left: 0px;
  }
  #a img, .btn-select img{
    width: 12px;
    
  }
  #a li{
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #a li:hover{
  background-color: #F4F3F3;
  }
  #a li img{
    margin: 5px;
  }
  #a li span, .btn-select li span{
    margin-left: 30px;
  }
  .image-size
  {
    width: 15px;
    vertical-align: sub;
  }
/* item list */

  .b{
    display: none;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 5px;
    
  }

  .open{
    display: show !important;
  }

  .btn-select{
    margin-top: 10px;
    width: 100%;
    max-width: 350px;
    height: 34px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
  
  }
  .btn-select li{
    list-style: none;
    float: left;
    padding-bottom: 0px;
  }

  .btn-select:hover li{
    margin-left: 0px;
  }

  .btn-select:hover{
    background-color: #F4F3F3;
    border: 1px solid transparent;
    box-shadow: inset 0 0px 0px 1px #ccc;
    
  }

  .btn-select:focus{
    outline:none;
  }

  .lang-select{
    margin-left: 50px;
  }

  .selected-job-status{
      padding: 3px 0px;
  }

  .dropdown-toggle::after {
      vertical-align: 0.1em;
  }

  .form-select-custom{
    padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      padding-left: 0.5rem;
  }
  table {
    border-collapse: separate !important;
    border-spacing: 0rem 0.6rem;
  }
  .table-hover>tbody>tr:hover>* {
    --bs-table-accent-bg: #e9ecef !important;
    color: var(--bs-table-hover-color);
    /* box-shadow: 2px 6px 15px 0 rgb(69 65 78 / 10%); */
    /* --bs-table-hover-color: rgb(69 65 78 / 10%); */
  }
  .jdcarc {
    box-shadow: 0 2px 6px -2px rgb(0 106 194 / 20%);
    padding: 1.25rem 1.25rem 0.65rem 1.25rem !important;
  }
  .ddjslist{
    padding: 0.475rem 0.9rem 0.475rem 0.9rem !important
  }
  .ddjslist span{
    font-size: 14px;
  }
  td ul {
    padding: unset !important;
  }
  td ul li:hover{
    background-color: #e9ecef;
    cursor: pointer;
  }
  .dropdown-toggle::after{
    cursor: pointer;
  }
  .expdc{
    font-size: 13px;
  }
  .trtitle{
    white-space: nowrap;
    text-overflow: ellipsis;
    /* min-width: 2px; */
    /* width: 30px; */
    /* max-width: 250px; */
    overflow: hidden;
  }
  .eralertbox{
    box-sizing: border-box;
    /* font-family: inherit; */
	  font-family: "Poppins";
    font-size: 0.875rem;
    line-height: 1.5;
    padding: 0.75rem 1rem;
    transition: box-shadow 200ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    display: flex;
    align-items: flex-start;
    color: #2d2d2d;
    border-width: 0.0625rem;
    border-style: solid;
    border-radius: 0.3rem;
    background-color: #fadddf;
    border-color: #fd6c70;
    margin:0.75rem;
  }
  .btnc1{
    line-height: 0;
    padding: 18px 15px;
    border-radius: 3px;
    transition: 0.5s;
    color: #fff;
    background: #4154f1;
    /* box-shadow: 0px 5px 25px rgb(65 84 241 / 30%); */
}
.btnc1 span {
    /* font-family: inherit; */
	  font-family: "Poppins";
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
}
.btnc1:hover {
  color: #fff;
}
.btnc2{
  line-height: 0;
    padding: 18px 15px;
    border-radius: 3px;
    /* transition: 0.5s; */
    /* color: #4145f1; */
    background: #f9fbfd;
    box-shadow: unset !important;
    border: 1px solid #d1cece;
    font-size: 13px;
    box-shadow: 0px 5px 25px rgb(65 84 241 / 30%);
}
.btnc2:hover{
  /* background: #4145f1;
  color: #f9fbfd; */
}
.nav-item{
  font-size: 1rem;
}
.asuimg{
  width:25%;
}
.alert-success {
    /* color: #0f5132; */
    background-color: #dff7e2;
    border-color: #badbcc !important;
}
.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid #0000;
    border-radius: 0.25rem;
    box-shadow: unset !important;
}
.bi-check-circle-fill::before {
    content: "\f26a";
    color: #2a863b;
}