
.page-inner{
    background:#fff;
}


.pfcmpletalert .fa-warning{
    color: #f9e955;
    font-size: 40px;
}

.pfcmpletalert{
    background:#F6F6F6;
    /* width: auto%; */
    margin: 0 auto;
    position: absolute;
    padding:0px;
    
    border-radius:13px;
    margin-top: 8%;
    margin-left: 15%;
    box-shadow:1px 1px 14px 0 rgb(18 38 63 / 20%) !important;
}

.pfcmpletalert .wrning{
    background:#D0DEF5;
    height: 60px;
    clip-path: polygon(0% 0%, 0% 280%, 100% 0%);
    border-top-left-radius: 13px;
    border-bottom-left-radius:13px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.alert_prnt{
    display: flex;
    align-items: center;
    justify-content: center;
}

#exampleModal .modal-content{

    background:#f3f7fe;
}

ul.typeahead.dropdown-menu {
    max-height: 188px !important;
    overflow: auto;
    display: block;            
    margin-right: 31px;
    width: -webkit-fill-available;
}
li {
    /* font-family: 'Nunito', sans-serif !important; */
	font-family: "Poppins";
}

.hme_banner{
    background: url('../../../../images/candidate_hpg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 4rem;
    /* background-size: 120%;
    padding-bottom: 7rem;
    margin-left: -70px; */
}
.candidate_img{
   background:url('../../../../images/candidate_hpg_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 110px;
    background-position: center;

}


@media(min-width: 280px) and (max-width: 767px)  {
    .candidate_img{
        background: url('../../../../images/responsive_hpg_bg_infinity.png');
        background-repeat: no-repeat !important;
        background-size: contain;
        background-position: center;
        width:100%;
        padding-bottom: 0px;

    }
}
.location .typeahead.dropdown-menu, .designation .typeahead.dropdown-menu{
    max-height: 188px !important;
    overflow: auto;
    display: block;         
    width: -webkit-fill-available;
    top: unset !important;
    left: unset !important;
}
.dropdown-menu::-webkit-scrollbar{
    width: 3px;
}
.dropdown-menu::-webkit-scrollbar-thumb
{
    background: #ddd;
}
.dropdown-menu::-webkit-scrollbar-track
{
    background: #fff;
}
    
@media (min-width: 768px) {
    .designation .typeahead.dropdown-menu{
        margin-right: 59% !important;
    }
}

    
@media (min-width: 768px) and (max-width: 991px) {
    .location .typeahead.dropdown-menu{
        margin-right: 22% !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .location .typeahead.dropdown-menu{
        margin-right: 20.5% !important;
    }
    .pfcmpletalert{
        margin-left: 21%;
    }
}
@media (min-width: 1200px){
    .location .typeahead.dropdown-menu{
        margin-right: 19.8% !important;
    }
}
@media only screen and (max-width: 767px) {
    /* CSS rules for phones */
    .location .typeahead.dropdown-menu, .designation .typeahead.dropdown-menu{
        margin-right: 25px !important;
    }
    .location .typeahead.dropdown-menu{
        top: 120px !important;
    }
    
    .pfcmpletalert{
        width: 75%;
        margin-top: 14%;
        margin-left: 0%;
        font-size: 12px;
    }
}

.form-control-2 {
    display: block;
    width: 100%;
    padding: 0.6rem 0.5rem 0.6rem 1.5rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.2;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    border-color: #dadada !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-2::placeholder {
    color: #d3d1d1;
}
.form-control-2:focus {
    color: #212529;
    background-color: #fff;
    border-color: #3e93ff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.form-control-2.typeahead#designation{
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    border-right: unset;
}
.form-control-2.typeahead#location{
    border-radius: unset;
    border-left: unset;
    border-right: unset;
}
.pre-d{
    width: 8px;
    background: #fff;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
.pre{
    font-size: 33.2px;
    font-weight: 100;
}

.btn_c_se {
    background: #ffffff !important;
    border-color: #dadada !important;
    border-radius: 5px !important;
    border-left: unset !important;
    border-top-left-radius: unset !important;
    border-bottom-left-radius: unset !important;    
    font-size: 20.5px !important;
}
.btn_c_se i {
    margin-left: -1px;
    color: #2b5baa;
}
.sarchcrad{
    padding: 3rem 2rem 3rem 2rem !important;
    margin: -7.5rem 3rem 1rem 3rem!important;
    box-shadow: 2px 6px 15px 0 rgb(69 65 78 / 7%) !important;
}
.sarchtopcrad{
    padding: 3.5rem !important;
}

.sarchtopcrad .row{
    place-content:center
}
.hmenear_job h1{
    font-size: 1.725rem !important;
}
.hmenear_job h2{
    font-size: 1.35rem !important;
}
.tooltip.fade.show.bs-tooltip-top{
    margin: 0px 0px -91px 0px !important;
}
.tooltip-arrow{
    display: none !important;
}
.tooltip-inner{
    background-color: #414141 !important;
}


@media only screen and (max-width: 767px) {

    .pfcmpletalert{
        width: 88%;
        margin-top: 25%;
        margin-left: 0%;
    }
    .pfcmpletalert img{
        width: 100%;
    }
    .hme_banner {
        background: url('../../../../images/responsive_hpg_mobile.png');
        background-repeat: no-repeat;
        background-size: contain;
        padding-bottom: 0rem;
    }
    #homepage_stn h1{
        font-size: 20px;
    }
}


@media(min-width: 280px) and (max-width: 575px)  {

    .sarchtopcrad{
        padding: 0.5rem  2.5rem 0.5rem 1rem !important;
    }
    .hme_banner {
        background-size: 70% 100%;
    }
}