
.page-inner{
    background:#fff;
}


.pfcmpletalert .fa-warning{
    color: #f9e955;
    font-size: 40px;
}

.alert_prnt{
    display: flex;
    align-items: center;
    justify-content: center;
}

#exampleModal .modal-content{

    background:#f3f7fe;
}

ul.typeahead.dropdown-menu {
    max-height: 188px !important;
    overflow: auto;
    display: block;            
    margin-right: 31px;
    width: -webkit-fill-available;
}
li {
    /* font-family: 'Nunito', sans-serif !important; */
	font-family: "Poppins";
}


.search_hme{
    background: url('../../../../images/home/wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
}
.popular_recent_src_hme{
    background: url('../../../../images/home/line.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.candidate_img{
   background:url('../../../../images/candidate_hpg_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 110px;
    background-position: center;
}
.nearbyjob{
    background: url('../../../../images/home/wave_line.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.image-size{
    width: 15px;    
    margin-right: 5px;
}

@media(min-width: 280px) and (max-width: 767px)  {
    .candidate_img{
        background: url('../../../../images/responsive_hpg_bg_infinity.png');
        background-repeat: no-repeat !important;
        background-size: contain;
        background-position: center;
        width:100%;
        padding-bottom: 0px;

    }
}
.location .typeahead.dropdown-menu, .designation .typeahead.dropdown-menu{
    max-height: 188px !important;
    overflow: auto;
    display: block;         
    width: -webkit-fill-available;
    top: unset !important;
    left: unset !important;
}
.dropdown-menu::-webkit-scrollbar{
    width: 3px;
}
.dropdown-menu::-webkit-scrollbar-thumb
{
    background: #ddd;
}
.dropdown-menu::-webkit-scrollbar-track
{
    background: #fff;
}
    
.sarchtopcrad{
    padding: 1.5rem !important;
    margin: 0px 4rem;
}

.sarchtopcrad .row{
    place-content:center
}

.location .typeahead.dropdown-menu{
    margin-right: 12.8% !important;
}

@media (min-width: 768px) and (max-width: 991px) {
    .search_hme{
        padding: unset !important;
    }
    .sarchtopcrad{
        margin: 0px 2rem !important;
    }

}
@media (min-width: 992px) and (max-width: 1199px) {
    .pfcmpletalert{
        margin-left: 21%;
    }
}
@media (min-width: 1200px){
    .search_hme{
        padding: 3rem !important;
    }
}
@media only screen and (max-width: 767px) {
    /* CSS rules for phones */
    .location .typeahead.dropdown-menu{
        top: 69px !important;
    }
    
    .pfcmpletalert{
        width: 75%;
        margin-top: 14%;
        margin-left: 0%;
        font-size: 12px;
    }
    .hme_banner .pt-5{
        padding: 1rem !important;
    }
    .sarchtopcrad{
        padding: 0.5rem !important;
        margin: 0px 2rem !important;
    }
    .search_hme{
        padding: unset !important;
    }
}

.form-control-2 {
    display: block;
    width: 100%;
    padding: 0.6rem 0.5rem 0.6rem 1.5rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.2;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    border-color: #dadada !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-2::placeholder {
    color: #d3d1d1;
}
.form-control-2:focus {
    color: #212529;
    background-color: #fff;
    border-color: #3e93ff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.form-control-2.typeahead#designation{
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    border-right: unset;
}
.form-control-2.typeahead#location{
    border-radius: unset;
    border-left: unset;
    border-right: unset;
}
.pre-d{
    width: 8px;
    background: #fff;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
.pre{
    font-size: 33.2px;
    font-weight: 100;
}

.btn_c_se {
    background: #34A853 !important;
    border-color: #34A853 !important;
    border-radius: 5px !important;
    border-left: unset !important;
    border-top-left-radius: unset !important;
    border-bottom-left-radius: unset !important;    
    font-size: 20.5px !important;
}
.btn_c_se i {
    margin-left: -1px;
    color: #ffffff;
}
.sarchcrad{
    padding: 3rem 2rem 3rem 2rem !important;
    margin: -7.5rem 3rem 1rem 3rem!important;
    box-shadow: 2px 6px 15px 0 rgb(69 65 78 / 7%) !important;
}

.hmenear_job h2{
    font-size: 1.35rem;
}
.hme_banner h1{
    line-height: 1.6;
    color:#ffffff;
}.hme_banner h3{
    line-height: 2;
    color:#ffffff;
}
.fw-bolder {
font-weight: bolder !important;
}
.tooltip.fade.show.bs-tooltip-top{
    margin: 0px 0px -91px 0px !important;
}
.tooltip-arrow{
    display: none !important;
}
.tooltip-inner{
    background-color: #414141 !important;
}


@media only screen and (max-width: 767px) {

    .pfcmpletalert{
        width: 88%;
        margin-top: 25%;
        margin-left: 0%;
    }
    .pfcmpletalert img{
        width: 100%;
    }
    /* .hme_banner {
        background: url('../../../../images/home/home_banner.svg');
        background-repeat: no-repeat;
        background-size: contain;
        padding-bottom: 0rem;
    } */
    .hmenear_job h1{
        font-size: 20px;
    }
    .home_banner_desk{
        display: none;
    }
    .home_banner_mob{
        display: block !important;
    }
}


@media(min-width: 280px) and (max-width: 575px)  {
    
    .sarchtopcrad{
        padding: 0.7rem 1.5rem !important;
        margin: 0px !important;    
    }
    .sarchtopcrad .pre-d{
        display: none;
    }
    .sarchtopcrad .location{
        display: none;
    }
    /* .hme_banner {
        background-size: 70% 100%;
    } */
    .hme_banner h1{
        font-size: 25px !important;
    }
    .hme_banner h3{
        font-size: 0.8rem;
    }
    .popular_recent_src_hme h3{
        font-size: 1rem;
    }

}
/* .btn_ch_s2, .btn_c_s1{
    text-align-last: justify;
} */
.btn_ch_s2
{
    border-radius: 5px !important;
    font-size: 14px !important;
    color: #14418c;
    background: #ffffff !important;
    border-color: #2268dd !important;
}
.btn_ch_s2 img
{
    filter: invert(76%) sepia(30%) saturate(3461%) hue-rotate(179deg) brightness(70%) contrast(100%);
}
.candimg_col h3{
    text-decoration-thickness: 1%;
    text-underline-offset: 7px;
}

/**blogs**/
.recruite_hjyuc .blog-sectionw {
    margin-top: 30px;
}
.blog-sectionw {
    margin-bottom: 20px;
}.blog-sectionw .fdfeyhsq {
    margin-bottom: 25px !important;
    margin: 0px;
    border-bottom: 2px solid #e2e0e0c9;
    padding: 10px;
}.blog-sectionw .item {
    padding-right: 15px;
}.blog-sectionw .card {
    box-shadow: none;
}.blog-sectionw .card {
    background: #F5F5F5;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    cursor: pointer;
}.blog-sectionw .card img {
    width: 100%;
    border-radius: 3px;
}.blog-sectionw .card h2 {
    font-size: 17px;
}.blog-sectionw .card p {
    font-size: 15px;
}.blog-sectionw .card .grayc {
    position: absolute;
    bottom: 10px;
    font-size: 14px;
}.blog-sectionw .grayc {
    cursor: pointer;
}.grayc {
    color: #808080;
}.owl-theme .owl-dots .owl-dot.active span {
    background: #4285f4b5 !important;
}.owl-theme .owl-dots .owl-dot:hover span, .owl-theme .owl-dots .owl-dot span {
    border-radius: 0px !important;
    width: 45px !important;
    height: 5px !important;
}.blog-sectionw .card:hover {
    box-shadow: 0px 0px 4px 0px #00000040;
}.owl-theme .owl-nav.disabled+.owl-dots {
    margin: 0px;
}.owl-theme .owl-dots .owl-dot.active span{
    border-radius: 0px;
    width: 45px;
    height: 5px;
}.blog-sectionw .grayc img {
    width: 7px;
    margin-left: 5px;
    margin-bottom: 2px;
}.blog-sectionw p.cntc{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    color: #4a545a;
    -webkit-box-orient: vertical;
    text-transform: capitalize;
    height: 68px;
}.blog-sectionw h2{
    overflow: hidden;
    text-overflow: ellipsis;
    color: #4a545a;
    text-transform: capitalize;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 18px;
    height: 45px !important;
}.blog-sectionw .card img{
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    object-fit: contain;
}