
.sidenavbar {
    padding-top: 1.5rem !important;
}
.link span{
    margin: 0.65rem 2.5rem !important;
}

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

[class*="entypo-"] {
  width: 1em;
  height: 1em;
}
.timeline {
  border-left: 0.2em solid #d8d9d9;
  background: rgba(255, 255, 255, 0.1);
  margin: 2em auto;
  line-height: 1.4em;
  padding: 1em;
  padding-left: 3em;
  list-style: none;
  text-align: left;
  /* border-radius: 0.5em; */
  min-width: 22em;
}
.event {
  min-width: 20em;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 1em;
}
.timeline .event:before {
  left: -15em;
  color: rgba(255, 255, 255, 0.8);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 9em;
}
.timeline .event:after {
    left: -3.6em;
    background: #d8d9d9;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    content: "";
}
.timeline .event.active:after {
    left: -3.6em;
    background: #34a853;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    content: "";
}
.timeline .event .member-location{
  display: none;
}
/* .timeline .event:first-of-type .member-location{
} */
.timeline .event.active .member-location{
  display: block;
}
.member-infos {
  padding: 15px 10px 10px 15px;
  text-align: left;
  position: relative;
}
.member-infos > h1 {
  font-weight: bold;
  font-size: 1.4em;
}
.member-location a:before {
  margin-right: 5px;
}

.member-location {
  text-indent: 2px;
  font-size: 14px;
}

.member-title{
	cursor:pointer;
}
.timeline>li:not(.timeline-inverted){
  padding-right: unset !important;
}
.timeline:before {
    background-color: unset;
}
.card.event{
    border-radius: 10px !important;
    background: #F1F6FF;
    box-shadow: 1px 2px 3px 0 rgba(69,65,78,.1);
}
.card.event.active{
    background: #FFFFFF;
}
	.sidenavv-toggler{
		display: none;
	}
@media screen and (max-width: 767px){
.main-panel {
    width: 98% !important;
  }
  .sidenavbar.close {
    transform: translateX(-100px);
  }
	.sidenavv-toggler{
        display: block !important; 
	}
  .main-header .header-unsets {
    left: 0;
  }
  .sidenavbar.unsets {
    transform: translateX(-100px);
    width: calc(55px + 20px);
  }
}

@media screen and (min-width: 768px){

  .main-header .header-unsets {
    left: 270px;
  }
}
.main-header .header-open .img-fluid{
  transform:unset;
}
@media screen and (min-width: 992px){
  .main-header .header-open .img-fluid{
    opacity: unset;
  }
}
.ske{    
  text-align: -webkit-center;
  margin: 1rem 0rem;
}
.ske #search_input{
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    border-color: #7976769c !important;
}
.ske .btn{
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    border-color: #7976769c !important;
    position: unset !important;
}
.ske .input-group{
  width: 60%;
}

@media screen and (max-width: 575px){

  .ske .input-group{
    width: 90%;
  }
  .page-title {
      font-size: 16px;
  }
}
#search_input::-webkit-search-cancel-button {
  /* ... */
}

.close img
{
  opacity: 0;
  transition: all 0.4s ease;
}
.link span{
  display: -webkit-inline-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: break-spaces;
}