*{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}.breadcrumb-item+.breadcrumb-item::before{
    content: var(--bs-breadcrumb-divider, ">");
}.breadcrumb a{
    color: #808080;
    text-decoration: none;
}.breadcrumb li.active{
    color:#4285F4;
    font-weight: 600;
}p{
    font-size: 14px;
}h1{
    font-size: 24px;
}h2{
    font-size: 22px;
}h3{
    font-size: 20px;
}h4{
    font-size: 18px;
}h5{
    font-size: 16px;
}h6{
    font-size: 14px;
}td{
    font-size: 14px;
}.tab-pane {
    transition: none !important;
}.cursor-pointer{
    cursor: pointer;
}.no-animation .modal-dialog {
    transform: none !important;
}.no-animation .modal.fade .modal-dialog {
    transition: none !important;
}.no-animation .modal.fade .modal-content {
    opacity: 1 !important;
}.modal.fade {
    transition: none;
}.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}.modal {
    display: none;
    overflow: hidden;
    outline: 0;
    transition: all 0.5s;
}.modal.fade .modal-dialog {
    transition: none;
}.modal.fade .modal-dialog {
    transform: none !important;
}.modal.fade .modal-content {
    opacity: 1 !important;
}


@media(min-width:1198px){
    .space-width{
        width: 90%;
        margin: 0 auto;
    }
}