 /* item list */
 .btn-select{
    margin-top: 10px;
    width: 100%;
    max-width: 350px;
    height: 34px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
  
  }
  .btn-select li{
    list-style: none;
    float: left;
    padding-bottom: 0px;
  }
  .btn-select:hover li{
    margin-left: 0px;
  }
  .btn-select:hover{
    background-color: #F4F3F3;
    border: 1px solid transparent;
    box-shadow: inset 0 0px 0px 1px #ccc;
  }
  .btn-select:focus{
    outline:none;
  }
  .selected-job-status{
      padding: 3px 0px;
  }
  .dropdown-toggle::after {
      vertical-align: 0.1em;
  }
  .align-items-right{
      text-align : -webkit-right;
  }
  .image-size
    {
      width: 15px;
      vertical-align: sub;
    }
    .image-size2
    {
      width: 19px;
      vertical-align: sub;
    }
  /* item list */

  .b{
    display: none;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 5px;
    
  }

  .open{
    display: show !important;
  }

  .btn-select{
    margin-top: 10px;
    width: 100%;
    max-width: 350px;
    height: 34px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
  
  }
  .btn-select li{
    list-style: none;
    float: left;
    padding-bottom: 0px;
  }

  .btn-select:hover li{
    margin-left: 0px;
  }

  .btn-select:hover{
    background-color: #F4F3F3;
    border: 1px solid transparent;
    box-shadow: inset 0 0px 0px 1px #ccc;
    
  }

  .btn-select:focus{
    outline:none;
  }

  .lang-select{
    margin-left: 50px;
  }

  .selected-job-status{
      padding: 3px 0px;
  }

  .dropdown-toggle::after {
      vertical-align: 0.1em;
  }

  .form-select-custom{
    padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      padding-left: 0.5rem;
  }
  table {
    border-collapse: separate !important;
    border-spacing: 0rem 0.6rem;
  }
  .table-hover>tbody>tr:hover>* {
    --bs-table-accent-bg: #e9ecef !important;
    color: var(--bs-table-hover-color);
    /* box-shadow: 2px 6px 15px 0 rgb(69 65 78 / 10%); */
    /* --bs-table-hover-color: rgb(69 65 78 / 10%); */
  }
  .jdcarc {
    box-shadow: 0 2px 6px -2px rgb(0 106 194 / 20%);
    padding: 1.25rem 1.25rem 0.65rem 1.25rem !important;
  }
  .ddjslist{
    padding: 0.475rem 0.9rem 0.475rem 0.9rem !important
  }
  .ddjslist span{
    font-size: 14px;
  }
  td ul {
    padding: unset !important;
  }
  td ul li:hover{
    background-color: #e9ecef;
    cursor: pointer;
  }
  .dropdown-toggle::after{
    cursor: pointer;
  }
  .expdc{
    font-size: 13px;
  }
  .trtitle{
    white-space: nowrap;
    text-overflow: ellipsis;
    /* min-width: 2px; */
    /* width: 30px; */
    /* max-width: 250px; */
    overflow: hidden;
  }
  .breadcrumb{
    margin-block-end: unset;
  }
    
  .jlsection{
    background-color: #e3f4ff9e;
    margin-top:3px;
    min-height: 100vh;
  }
  .canlsection{
    /* margin-top: 1.3rem; */
  }
  .wizard-tab {
    background-color: unset !important;
    padding: 0 0 15px 0;
    /* box-shadow: 0px 2px 0px rgb(18 23 39 / 16%); */
  }
  .jsrchbtni {
      padding: 0.6rem 0.7rem !important;
      border-radius: 0 3px 3px 0 !important;
  }
  .nav-link {
      color: #575962;
      font-weight: 600;
  }
  .nav-link:hover {
      color: #000;
      font-weight: 600;
  }
  .header-space {
      /* margin-top: 72px; */
      margin-top: 30px;
  }

  .candpcard{
    border-radius: 30px;
  }
  .ovlapcard{
    /* margin-bottom: 30px; */
    /* border-radius: 5px; */
    border-radius: 7%;
    background-color: rgb(236 246 254);
    -webkit-box-shadow: 2px 6px 15px 0 rgb(69 65 78 / 10%);
    -moz-box-shadow: 2px 6px 15px 0 rgba(69,65,78,.1);
    box-shadow: 2px 6px 15px 0 rgb(69 65 78 / 10%);
    border: 0;
    margin: 0rem;
    padding: 0rem;
  }
  .btnspl_1{
    border-radius: 60px 0 0 60px;
    width: 2rem !important;
    height: 2rem !important;
    border-right: 2px solid #cfcbcb;
  }
  .btnspl_2{
    border-radius: 0px 60px 60px 0px;
    width: 2rem !important;
    height: 2rem !important;
    margin-left: -3px;
  }
  .btncsdiv{
    background-color: #fcfeff;
    margin: 1rem 1.99rem;
    border: 1px solid #cfcbcb;
  }
  .imcs1{
    width:32px;
  }
  .imcsstat{
    width:32px;
  }
  .btnact_st{
    box-shadow: 0px 0px 3px 2px #d7d5d5;
    background-color: #fcfeff;
  }
  .img-thumbnail{
    background-color: unset !important;
    border:unset !important;
  }
  .ccontse{
    /* padding: 1rem 2rem 0rem 2rem;
    margin: 0rem 1rem 0rem 0rem; */
    padding: 0.5rem;
    margin: 0rem;
  }
  .text-truncate-1{
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    display: -webkit-box !important;
    white-space: break-spaces !important;
    overflow: hidden;
  }
  .text-truncate-2{
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
    display: -webkit-box !important;
    white-space: break-spaces !important;
    overflow: hidden;
  }
  hr{
    margin: 0.7rem 0;
  }
  .rcbtnc1{
    /* background-color: #F9E955; */
    color: #fff;
    font-weight: 500;
    border-radius: 3rem;
    border: 2px solid #4285F4 !important;
    outline-offset: 2px;
    background-color: #4285F4 !important;
  }
  .rcbtnc1:hover{
    background-color: #ecf4fe !important;
  }
  .rcbtnc1:focus{
    color:#fff;
    background-color: #4285F4 !important;
    outline: 2px solid #4285F4 !important;
  }
  .rcbtnc2{
    background-color: #FFF;
    color: #000;
    font-weight: 600;
    border-radius: 3rem;
    border: 2px solid #4285F4 !important;
    outline-offset: 2px;
  }
  .rcbtnc2:hover{
      background-color: #4285F4 !important;
      color:#fff;
  }

  .rcbtnc2:focus{
      color:#fff;
      background-color: #4285F4 !important;
      outline: 2px solid #4285F4 !important;
  }
  text{
    color:#000;
    font-weight: 600;
  }
  .jcardlist{
    height: 846px;
    overflow: hidden;
    /* overflow-x: hidden; */
  }
  .jcardlist:hover {
    overflow-y: scroll;
  }
  .jcardlist::-webkit-scrollbar {
    width: 5px;
  }
  .jcardlist::-webkit-scrollbar-track {
    background-color:#dcdbdb;
    border-radius: 100px;
  }
  .jcardlist::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 50px;
  }
  .caconsection{
    height: 946px;
    overflow: hidden;
    padding: 0 1rem 0 0;
  }
  .caconsection:hover {
    overflow-y: scroll;
  }
  .caconsection::-webkit-scrollbar {
    width: 5px;
  }
  .caconsection::-webkit-scrollbar-track {
    background-color:#dcdbdb;
    border-radius: 100px;
  }
  .caconsection::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 50px;
  }
  .jlsca{
    margin: 1rem;
  }.jlsca:active{
    outline: 2px solid #4285f4;
  }
  .jlsca:hover{
    outline: 1px solid #4285f4;
    cursor: pointer;
  }
  .jpcactive{
    outline: 2px solid #4285f4 !important;
  }
  #profileImage {
    font-family: inherit;
    border-radius: 50%;
    background: #004D3C;
    font-size: 2.1rem;
    color: #fff;
    text-align: center;
    line-height: 4.2rem;
  }
  .avatar{
    width:4.2rem;
  }
  .is_invalid_c1{
    border-color: #dc3545 !important;
  }
  .form-control{
    font-weight: 600 !important;
  }

#tabs .nav-link.active {
    color: #1a2035;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 2px solid #FC7851 !important;
    font-size: 16px;
    font-weight: bold;
}

  .nav-tabs {
      border-bottom: 2px solid #e2e6eb;
  }
  .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
      border-color: #fff;
      isolation: isolate;
  }
  .nav-tabs .nav-link{
    margin-bottom: -2px !important;
  }
#jsmenufid .nav.nav-tabs {
  border-bottom: 0px solid #e2e6eb !important;
  padding: 0 0.3rem 0 0.3rem;
}
#jsmenufid .nav-item {
  padding: 0 0rem 0.5rem 0;
}

#jsmenufid .nav-link.active {
  color: #1a2035;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border: 2px solid #FC7851 !important;
  font-size: 16px;
  font-weight: 600;
}
.jsli2 {

  border-radius: 100px !important;
    background-color: #fc785154 !important;
    color: #1a2035;
}
.jsli2:hover, .jsli2:focus{
  border-color: #FC7851 !important;
  color: #1a2035 !important;
}
#lvl1tabs .nav-link {
  color: #575962;
  /* background-color: #ecf6fe; */
  border-color: #4285f4;
  border: 0px solid #4285f491 !important;
  font-size: 17px;
  /* font-weight: bold; */
  /* border-radius: 0.25rem; */
}
#lvl1tabs .nav-link.active {
  color: #fffffff6;
    background-color: #4285f4;
  /* color: #1a2035;
  background-color: #ecf6fe; */
  border-color: transparent transparent #f3f3f3;
  /* border: 2px solid #4285f491 !important; */
  font-size: 17px;
  /* font-weight: bold; */
  /* border-bottom: unset; */
  /* border-bottom-color: transparent !important; */
}
#lvl1tabs .nav-tabs{
  border-bottom: 0px solid #4285f491 !important;
}
#aboutcompany{
    border-radius: 20px;
}
#page-container, #header{
    background-color:#fff !important;
    box-shadow:none;
}